.dialogue-overlay {
  width: 600px;
  height: calc(100vh - 300px);
  max-height: fit-content;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.dialogue-overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    display: flex;
    align-items: center;
    gap: 15px;

    h2 {
      margin: 0;
    }
  }
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer und Edge */
  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari und Opera */
  }
}

.show-responsive {
  display: none !important;
}

.container-box {
  padding: 20px;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: border 75ms ease, padding 150ms ease;

  &.editing {
    border: none;
    padding: 0;
    transition: border 75ms ease, padding 150ms ease;
  }
}

.overlay-title-container {
  .title-content {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 24px;
      height: auto;
    }
  }
}

.edit {
  cursor: pointer;
  transition: font-weight ease-in 150ms;

  &:hover {
    font-weight: 700;
  }
}

.box-header {
  display: flex;
  justify-content: space-between;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #adb0d9;
}

.btn-leave {
  border: none;
  width: fit-content;
  align-self: flex-end;
  color: white;
  background-color: #444df2;
  padding: 12px 25px;
  border-radius: 25px;
  font-family: "Nunito";
  cursor: pointer;
  transition: filter 125ms ease-in-out;

  &:hover {
    filter: opacity(80%);
  }
}

.title-content.editing,
.description.editing {
  border: 1px solid #adb0d9;
  border-radius: 40px;
  padding: 10px 15px;
}

.title-content.editing input,
.description.editing input {
  border: none;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

.dialogue-content {
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.selected-users {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.user {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 20px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
  }
}

.img-container {
  display: flex;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

// .online-signal {
//     width: 14px;
//     height: 14px;
//     border: 2px solid #ffffff;
//     border-radius: 100%;
//     box-sizing: border-box;
//     position: absolute;
//     top: 40px;
//     left: 56px;
// }

.add-user {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 29px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    color: #535af1;
    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

.add-user-icon-box {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #eceefe;
}

.hover-icon-purple {
  display: none;
}

@media(max-width: 1512px) {
  .dialogue-overlay {
    width: 430px;
  }
}

@media(max-width: 1010px) {
  .show-responsive {
    display: flex !important;
  }

  .hide-responsive {
    display: none;
  }

  .dialogue-overlay {
    width: 350px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dialogue-content {
    width: unset;
  }
}

@media(max-width: 880px) {
  .dialogue-overlay {
    width: 100vw !important;
    height: 100vh;
    max-height: fit-content;
    box-sizing: border-box;
    position: absolute;
    transform: translate(0, -0);
    top: -80px;
    left: 0;
    gap: 20px;
    padding: 40px 20px;
    border-radius: 0;
    box-shadow: unset;
  }

  .header-left {
    gap: 5px !important;
  }

  .tag-icon {
    width: 25px;
    height: 25px;
  }
}