<div class="dialogue-overlay" *ngIf="channel">
    <div class="dialogue-overlay-header">
        <div class="header-left">
            <img src="assets/icons/tag.svg">
            <h2 class="font-24 font-w-700">{{ channel.name }}</h2>
        </div>
        <app-round-btn (click)="handleClose()" iconSrc="assets/icons/close.svg"
            iconHoverSrc="assets/icons/close-purple.svg" altText="Schließen">
        </app-round-btn>
    </div>

    <div class="overlay-title-container container-box" [class.editing]="isEditingName">
        <div class="box-header">
            <span class="font-18 font-w-700">Channel-Name</span>
            <span class="font-w-600 t-purple edit" (click)="toggleEditName()">
                {{ isEditingName ? 'Speichern' : 'Bearbeiten' }}
            </span>
        </div>
        <div class="title-content" [class.editing]="isEditingName">
            <img src="assets/icons/tag.svg">
            <ng-container *ngIf="!isEditingName">
                <span>{{ channel.name }}</span>
            </ng-container>
            <ng-container *ngIf="isEditingName">
                <input type="text" [(ngModel)]="editedName" [placeholder]="channel.name" />
            </ng-container>
        </div>
    </div>

    <div class="overlay-content-container container-box" [class.editing]="isEditingDescription">
        <div class="box-header">
            <span class="font-18 font-w-700">Beschreibung</span>
            <span class="font-w-600 t-purple edit" (click)="toggleEditDescription()">
                {{ isEditingDescription ? 'Speichern' : 'Bearbeiten' }}
            </span>
        </div>
        <div class="description" [class.editing]="isEditingDescription">
            <ng-container *ngIf="!isEditingDescription">
                {{ channel.description }}
            </ng-container>
            <ng-container *ngIf="isEditingDescription">
                <input type="text" [(ngModel)]="editedDescription" placeholder="Dein Text hier">
            </ng-container>
        </div>

        <div class="line"></div>
        <span class="font-18 font-w-700">Erstellt von</span>
        <span class="created-by font-24 t-purple">{{ channel.createdByName }}</span>
    </div>

    <button type="button" class="btn-leave font-18 font-w-700" (click)="leaveChannel()">Channel verlassen</button>
</div>