@use "../../styles/variables" as *;
@use "../../styles/shared-classes";

.arrow-back {
  left: 15px;
}

.input-item {
  img {
    filter: invert(41%) sepia(14%) saturate(15%) hue-rotate(332deg)
      brightness(95%) contrast(93%);
  }
  &:has(input:focus) {
    img {
      filter: brightness(0);
      transition: filter 125ms ease;
    }
  }
}
