<div class="chats">
    <div class="header">
        <div class="header-left">
            <div class="channel-name-container">
                <img src="assets/icons/tag.svg" alt="">
                <div class="font-24">Channel</div>
            </div>
            <div class="arrow">pfeil</div>
        </div>

        <div class="header-right">
            <div>user</div>
            <div>counter</div>
            <div>add</div>
        </div>
    </div>

    <div class="chat-content">
        <div class="chat-history">

            <div class="chat-day-section">
                <div class="chat-date-section">
                    <div class="chat-date">Dienstag, 14. Januar</div>
                </div>

                <div class="chat-section">
                    <img class="chat-user-img" src="assets/user-icons/icon4.svg" alt="">

                    <div class="chat-info-container">
                        <div class="chat-start">
                            <div>Name</div> 
                            <div>Uhrzeit</div>
                        </div>
                        <div class="chat-message left bg-color-1">Chat</div>
                        <div class="chat-answered">
                            <div class="answers">
                                <div>Antworten</div>
                                <div class="font-14">letzte Antwort</div>
                            </div>
                            <div class="reactions">
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis.svg" alt="">
                                    <div>2</div>
                                </div>
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis (1).svg" alt="">
                                    <div>1</div>
                                </div>
                                <img class="add-reaction" src="assets/reaction-icons/add_reaction.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-day-section">
                <div class="chat-date-section">
                    <div class="chat-date">Freitag, 1.September</div>
                </div>
                
                <div class="chat-section reverse">
                    <img class="chat-user-img" src="assets/user-icons/icon3.svg" alt="">

                    <div class="chat-info-container">
                        <div class="chat-start reverse">
                            <div>Name</div> 
                            <div>Uhrzeit</div>
                        </div>
                        <div class="chat-message right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore perspiciatis aliquid dolorem, porro maiores asperiores libero omnis. Est omnis hic placeat, at eos pariatur corporis eaque quia quasi? Eos, quibusdam?</div>
                        <div class="chat-answered">
                            <div class="answers">
                                <div>Antworten</div>
                                <div class="font-14">letzte Antwort</div>
                            </div>
                            <div class="reactions">
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis.svg" alt="">
                                    <div>2</div>
                                </div>
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis (1).svg" alt="">
                                    <div>1</div>
                                </div>
                                <img class="add-reaction" src="assets/reaction-icons/add_reaction.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        

        <form class="form">
            <!-- <mat-form-field class="form-field full-width" appearance="outline">
                <mat-label>Nachricht an #Entwicklerteam</mat-label>
                <span matTextPrefix>+1 &nbsp;</span>
                <input class="input" type="tel" matInput placeholder="...">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field> -->

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nachricht an #Entwicklerteam</mat-label>

                    <span class="form-prefix" matTextPrefix>+1 &nbsp;</span>
                    <mat-icon class="form-prefix">sentiment_very_satisfied</mat-icon>
                
                <input class="input" matInput type="text" [(ngModel)]="value" placeholder="Placeholder">
                <!-- <mat-icon class="form-icon" matSuffix>send</mat-icon> -->
                <mat-icon class="form-icon">send</mat-icon>
                
                <!-- @if (value) {
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>send</mat-icon>
                    </button>
                } -->
            </mat-form-field>
        </form>

    </div>
    
</div>