<div class="chats">
    <app-channel-header [channelId]="channelId" [channelName$]="channelName$" [profileOpen]="profileOpen"
        [currentUserId]="currentUserId" [participants]="participants" [participants$]="participants$"
        (openProfile)="openDialogueShowProfile($event)" (channelDeleted)="handleChannelDeleted()">
    </app-channel-header>

    <div *ngIf="(chats$ | async) as chatList" class="chat-content">
        <div id="chat-history" #chatHistory class="chat-history">

            <div *ngFor="let chat of chatList; let i = index; trackBy: trackByChatId" class="chat-day-section"
                [ngClass]="{'reverse': chat.user === currentUserId}">

                <app-chat-message [chat]="chat" [index]="i"
                    [prevChatDate]="i > 0 ? getChatDate(chatList[i-1]) : undefined" [currentUserId]="currentUserId"
                    [isResponsive]="isResponsive" [participants]="participants" [filteredChannels]="filteredChannels"
                    [activeReactionDialogueIndex]="activeReactionDialogueIndex"
                    [activeReactionDialogueBelowIndex]="activeReactionDialogueBelowIndex"
                    [showAllReactions]="showAllReactions" [reactionIcons]="reactionIcons" #chatSection
                    [attr.data-message-id]="chat.id" (openThread)="handleOpenThread(chat.id)"
                    (openProfile)="handleOpenProfile($event)" (addReaction)="addReaction($event)"
                    (toggleReaction)="toggleReaction($event)" (openReactionsDialogue)="openReactionsDialogue($event)"
                    (enableEditChat)="enableEditChat($event)" (cancelEditChat)="cancelEditChat($event)"
                    (saveEditedChat)="saveEditedChat($event)">
                </app-chat-message>
            </div>
        </div>

        <ng-container *ngIf="channelName$ | async as channelName">
            <app-chat-input [placeholder]="'Nachricht an #' + channelName" [(text)]="newMessage"
                [emojis]="reactionIcons" [users]="(participants$ | async) || []" [channels]="filteredChannels"
                [currentUserId]="currentUserId" [context]="'Channel'" (submit)="submitChatMessage()">
            </app-chat-input>
        </ng-container>

    </div>
</div>