<div class="chats">
    <div class="header">
        <div class="header-left">
            <div class="channel-name-container">
                <img src="assets/icons/tag.svg" alt="">
                <div class="font-24">Channel</div>
            </div>
            <div class="arrow">pfeil</div>
        </div>

        <div class="header-right">
            <div>user</div>
            <div>counter</div>
            <div>add</div>
        </div>
    </div>

    <div class="chat-content">
        <div class="chat-history">

            <div class="chat-day-section">
                <div>Dienstag, 14. Januar</div>

                <div class="chat-section">
                    <img class="chat-user-img" src="assets/user-icons/icon4.svg" alt="">

                    <div class="chat-info-container">
                        <div class="chat-start">
                            <div>Name</div> 
                            <div>Uhrzeit</div>
                        </div>
                        <div class="chat-message left bg-color-1">Chat</div>
                        <div class="chat-answered">
                            <div class="answers">
                                <div>Antworten</div>
                                <div>letzte Antwort</div>
                            </div>
                            <div class="reactions">
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis.svg" alt="">
                                    <div>2</div>
                                </div>
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis.svg" alt="">
                                    <div>1</div>
                                </div>
                                <div class="reaction-btn">X</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-day-section">
                <div>Freitag, 1.September</div>
                
                <div class="chat-section reverse">
                    <img class="chat-user-img" src="assets/user-icons/icon3.svg" alt="">

                    <div class="chat-info-container">
                        <div class="chat-start reverse">
                            <div>Name</div> 
                            <div>Uhrzeit</div>
                        </div>
                        <div class="chat-message right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore perspiciatis aliquid dolorem, porro maiores asperiores libero omnis. Est omnis hic placeat, at eos pariatur corporis eaque quia quasi? Eos, quibusdam?</div>
                        <div class="chat-answered">
                            <div class="answers">
                                <div>Antworten</div>
                                <div>letzte Antwort</div>
                            </div>
                            <div class="reactions">
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis.svg" alt="">
                                    <div>2</div>
                                </div>
                                <div class="reaction-btn">
                                    <img src="assets/reaction-icons/51. Emojis.svg" alt="">
                                    <div>1</div>
                                </div>
                                <div class="reaction-btn">X</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        


        <div>Eingabefeld</div>
    </div>
    
</div>