.smiley-overlay {
  position: absolute;
  bottom: 95%;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: white;
  border: 1px solid #adb0d9;
  border-radius: 20px 20px 20px 0;
  padding: 20px;
  z-index: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 200px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  // &.add-smiley {
  //   left: 15px;
  //   top: -19px;
  //   bottom: unset;
  //   border-radius: 0px 20px 20px 20px;
  //   max-height: 171px;
  //   box-sizing: content-box;
  // }
}

.mention-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 35px;
  padding: 4px 20px;
  cursor: pointer;
  transition: background 75ms;
  flex-shrink: 0;

  &.active,
  &:hover {
    background: #eceefe;
  }
}

.smiley {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  top: 2px;
}

img {
  width: 24px;
  height: 24px;
  max-width: 24px;
}