<div class="mentions-overlay" [class.add-user]="context === 'AddUser'"
    [class.add-recipient]="context === 'AddRecipient'"
    *ngIf="filteredItems.length > 0 && (activeTrigger || context === 'AddUser' || context === 'AddRecipient')">
    <div class="mention-item" *ngFor="let item of filteredItems; let i = index" #mentionItem
        [class.active]="i === activeIndex" (click)="select(item)">

        <div *ngIf="activeTrigger === '@' || context === 'AddUser'" class="user">
            <div class="img-container">
                <img class="user-img" [src]="'assets/user-icons/' + (item.img || 'default-user') + '.svg'" />
                <div [class]="'online-signal ' + (item.presence || 'offline')"></div>
            </div>
            <span class="font-w-400 font-18">
                {{ item.name }} <span *ngIf="item.uid === currentUserId">(Du)</span>
            </span>
        </div>

        <div *ngIf="context === 'AddRecipient' && !activeTrigger" class="user-email">
            <span class="font-w-400 font-18">{{ item.email }}</span>
        </div>

        <div *ngIf="activeTrigger === '#'" class="channel">
            <img class="hover-icon" src="assets/icons/tag.svg">
            <img class="hover-icon-purple" src="assets/icons/tag-purple.svg" alt="">
            <span class="font-w-400 font-18">{{ item.name }}</span>
        </div>
    </div>
</div>