@use "../../styles/variables" as *;
@use "../../styles/shared-classes";

* {
  overflow-wrap: break-word;
}

h1, h2, h3, h4 {
  margin: 16px 0 8px 0;
  color: #444df2;
}

.app-auth-layout {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  overflow-y: scroll;
}

.arrow-back {
  position: unset;
  width: 40px;
}

.imprint-scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
}

@media(max-width: 500px) {
  h1, h2 {
    font-size: 25px;
  }
}