<app-auth-layout variant="privacy" [hideLegalLinks]="true">
    <button [routerLink]="['/']" class="arrow-back">
        <img src="assets/icons/arrow_back.svg">
    </button>

    <div class="imprint-scroll">
        <div>
            <h1>Datenschutzerklärung:</h1>
            <p>Letzte Aktualisierung: 13. März 2026</p>
            <p>Diese Datenschutzerklärung beschreibt unsere Richtlinien und Verfahren zur Erhebung, Nutzung und Offenlegung Ihrer Informationen bei der Nutzung des Dienstes und informiert Sie über Ihre Datenschutzrechte und wie das Gesetz Sie schützt.</p>

            <p>Wir verwenden Ihre personenbezogenen Daten, um den Dienst bereitzustellen und zu verbessern. Durch die Nutzung des Dienstes stimmen Sie der Erhebung und Nutzung von Informationen gemäß dieser Datenschutzerklärung zu. Diese Datenschutzerklärung wurde mit Hilfe des Privacy Policy Generators erstellt.</p>

            <h2>Auslegung und Definitionen</h2>
            <h3>Auslegung</h3>
            <p>Begriffe, deren Anfangsbuchstabe großgeschrieben ist, haben die unter den folgenden Bedingungen festgelegte Bedeutung. Die folgenden Definitionen gelten unabhängig davon, ob sie im Singular oder Plural erscheinen.</p>
            
            <h3>Definitionen</h3>
            <p>Für die Zwecke dieser Datenschutzerklärung:</p>

            <ul>
                <li><strong>Konto</strong> bezeichnet ein eindeutiges Konto, das für Sie erstellt wurde, um auf unseren Dienst oder Teile unseres Dienstes zuzugreifen.</li>
                <li><strong>Verbundene Unternehmen</strong> bezeichnet ein Unternehmen, das eine Partei kontrolliert, von einer Partei kontrolliert wird oder unter gemeinsamer Kontrolle mit einer Partei steht, wobei "Kontrolle" den Besitz von 50 % oder mehr der Aktien, Beteiligungen oder anderen Wertpapiere bedeutet, die zur Wahl von Direktoren oder anderen Verwaltungsbehörden berechtigen.</li>
                <li><strong>Unternehmen</strong> (in dieser Vereinbarung als "das Unternehmen", "wir", "uns" oder "unser" bezeichnet) bezieht sich auf Carla Hoffmann.</li>
                <li><strong>Cookies</strong> sind kleine Dateien, die auf Ihrem Computer, Mobilgerät oder einem anderen Gerät von einer Website abgelegt werden und Details Ihres Browserverlaufs auf dieser Website enthalten.</li>
                <li><strong>Land</strong> bezieht sich auf: Sachsen, Deutschland</li>
                <li><strong>Gerät</strong> bezeichnet jedes Gerät, das auf den Dienst zugreifen kann, wie z. B. einen Computer, ein Mobiltelefon oder ein digitales Tablet.</li>
                <li><strong>Personenbezogene Daten</strong> sind alle Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen.</li>
                <li><strong>Dienst</strong> bezieht sich auf die Website.</li>
                <li><strong>Dienstleister</strong> bezeichnet jede natürliche oder juristische Person, die die Daten im Auftrag des Unternehmens verarbeitet. Dies bezieht sich auf Drittfirmen oder Einzelpersonen, die vom Unternehmen beauftragt wurden, den Dienst zu erleichtern, den Dienst im Namen des Unternehmens bereitzustellen, dienstbezogene Leistungen zu erbringen oder das Unternehmen bei der Analyse der Nutzung des Dienstes zu unterstützen.</li>
                <li><strong>Nutzungsdaten</strong> sind Daten, die automatisch erfasst werden, entweder durch die Nutzung des Dienstes oder von der Dienstinfrastruktur selbst (zum Beispiel die Dauer eines Seitenbesuchs).</li>
                <li><strong>Website</strong> bezieht sich auf About me, erreichbar unter https://dabubble.de</li>
                <li><strong>Sie</strong> bezeichnet die Person, die auf den Dienst zugreift oder ihn nutzt, oder das Unternehmen bzw. eine andere juristische Person, in deren Namen eine solche Person auf den Dienst zugreift oder ihn nutzt, sofern zutreffend.</li>
            </ul>

            <h2>Erhebung und Verwendung Ihrer personenbezogenen Daten</h2>
            <h3>Arten der erhobenen Daten</h3>
            <h4>Personenbezogene Daten</h4>
            <p>Bei der Nutzung unseres Dienstes können wir Sie bitten, uns bestimmte personenbezogene Daten zur Verfügung zu stellen, die dazu verwendet werden können, Sie zu kontaktieren oder zu identifizieren. Zu den personenbezogenen Daten können unter anderem gehören:</p>

            <ul>
            <li>E-Mail-Adresse</li>
            <li>Vor- und Nachname</li>
            <li>Nutzungsdaten</li>
            </ul>

            <h4>Nutzungsdaten</h4>
            <p>Nutzungsdaten werden automatisch bei der Nutzung des Dienstes erfasst.</p>

            <p>Zu den Nutzungsdaten können Informationen wie die IP-Adresse Ihres Geräts, Browsertyp, Browserversion, die Seiten unseres Dienstes, die Sie besuchen, Datum und Uhrzeit Ihres Besuchs, auf diesen Seiten verbrachte Zeit, eindeutige Gerätekennungen und andere Diagnosedaten gehören.</p>

            <p>Wenn Sie auf den Dienst über ein mobiles Gerät zugreifen, können wir automatisch bestimmte Informationen erfassen, darunter, aber nicht beschränkt auf, den von Ihnen verwendeten Gerätetyp, die eindeutige ID Ihres mobilen Geräts, die IP-Adresse Ihres mobilen Geräts, Ihr mobiles Betriebssystem, den von Ihnen verwendeten mobilen Internetbrowser, eindeutige Gerätekennungen und andere Diagnosedaten.</p>

            <p>Wir können auch Informationen erfassen, die Ihr Browser sendet, wenn Sie unseren Dienst besuchen oder wenn Sie über ein mobiles Gerät auf den Dienst zugreifen.</p>

            <h4>Tracking-Technologien und Cookies</h4>
            <p>Wir verwenden Cookies und ähnliche Tracking-Technologien, um die Aktivitäten auf unserem Dienst zu verfolgen und bestimmte Informationen zu speichern. Zu den verwendeten Tracking-Technologien gehören Beacons, Tags und Skripte, um Informationen zu sammeln und zu verfolgen sowie unseren Dienst zu verbessern und zu analysieren. Zu den von uns verwendeten Technologien gehören unter anderem:</p>

            <ul>
            <li><span>Cookies oder Browser-Cookies. Ein Cookie ist eine kleine Datei, die auf Ihrem Gerät abgelegt wird. Sie können Ihren Browser anweisen, alle Cookies abzulehnen oder anzuzeigen, wenn ein Cookie gesendet wird. Wenn Sie jedoch keine Cookies akzeptieren, können Sie möglicherweise einige Teile unseres Dienstes nicht nutzen. Sofern Sie Ihre Browsereinstellungen nicht so angepasst haben, dass Cookies abgelehnt werden, kann unser Dienst Cookies verwenden.</span></li>
            <li><span>Web Beacons. Bestimmte Bereiche unseres Dienstes und unserer E-Mails können kleine elektronische Dateien enthalten, die als Web Beacons (auch Clear GIFs, Pixel-Tags und Single-Pixel-GIFs genannt) bekannt sind und es dem Unternehmen beispielsweise ermöglichen, Benutzer zu zählen, die diese Seiten besucht oder eine E-Mail geöffnet haben, sowie andere zugehörige Website-Statistiken zu erfassen (z. B. die Popularität eines bestimmten Abschnitts aufzuzeichnen und die System- und Serverintegrität zu überprüfen).</span></li>
            </ul>

            <p>Cookies können "persistente" oder "Session"-Cookies sein. Persistente Cookies verbleiben auf Ihrem Computer oder mobilen Gerät, wenn Sie offline gehen, während Session-Cookies gelöscht werden, sobald Sie Ihren Webbrowser schließen. Weitere Informationen zu Cookies finden Sie im Artikel auf der TermsFeed-Website.</p>

            <p>Wir verwenden sowohl Session- als auch persistente Cookies für die unten aufgeführten Zwecke:</p>

            <ul>
            <li>
                <p><strong>Notwendige / essentielle Cookies</strong></p>
                <p>Typ: Session-Cookies</p>
                <p>Verwaltet von: Uns</p>
                <p>Zweck: Diese Cookies sind unerlässlich, um Ihnen die über die Website verfügbaren Dienste bereitzustellen und einige ihrer Funktionen zu ermöglichen. Sie helfen, Benutzer zu authentifizieren und betrügerische Nutzung von Benutzerkonten zu verhindern. Ohne diese Cookies können die von Ihnen angeforderten Dienste nicht bereitgestellt werden, und wir verwenden diese Cookies nur, um Ihnen diese Dienste bereitzustellen.</p>
            </li>
            <li>
                <p><strong>Cookies-Richtlinie / Hinweis-Akzeptanz-Cookies</strong></p>
                <p>Typ: persistente Cookies</p>
                <p>Verwaltet von: Uns</p>
                <p>Zweck: Diese Cookies erkennen, ob Benutzer der Verwendung von Cookies auf der Website zugestimmt haben.</p>
            </li>
            <li>
                <p><strong>Funktionalitäts-Cookies</strong></p>
                <p>Typ: persistente Cookies</p>
                <p>Verwaltet von: Uns</p>
                <p>Zweck: Diese Cookies ermöglichen es uns, die von Ihnen bei der Nutzung der Website getroffenen Entscheidungen zu speichern, z. B. Ihre Login-Daten oder Spracheinstellungen. Der Zweck dieser Cookies besteht darin, Ihnen ein persönlicheres Erlebnis zu bieten und zu vermeiden, dass Sie Ihre Einstellungen jedes Mal neu eingeben müssen, wenn Sie die Website nutzen.</p>
            </li>
            </ul>

            <p>Weitere Informationen zu den von uns verwendeten Cookies und Ihren Wahlmöglichkeiten in Bezug auf Cookies finden Sie in unserer Cookie-Richtlinie oder im Abschnitt Cookies dieser Datenschutzerklärung.</p>

            <h3>Verwendung Ihrer personenbezogenen Daten</h3>
            <p>Das Unternehmen kann personenbezogene Daten für folgende Zwecke verwenden:</p>

            <ul>
                <li><strong>Zur Bereitstellung und Aufrechterhaltung unseres Dienstes</strong>, einschließlich der Überwachung der Nutzung unseres Dienstes.</li>
                <li><strong>Zur Verwaltung Ihres Kontos</strong>: Um Ihre Registrierung als Nutzer des Dienstes zu verwalten. Die von Ihnen bereitgestellten personenbezogenen Daten können Ihnen Zugang zu verschiedenen Funktionen des Dienstes verschaffen, die Ihnen als registriertem Nutzer zur Verfügung stehen.</li>
                <li><strong>Zur Erfüllung eines Vertrags</strong>: Die Entwicklung, Einhaltung und Durchführung des Kaufvertrags für die von Ihnen gekauften Produkte, Artikel oder Dienstleistungen oder eines anderen Vertrags mit uns über den Dienst.</li>
                <li><strong>Zur Kontaktaufnahme mit Ihnen</strong>: Um Sie per E-Mail, Telefonanruf, SMS oder anderen gleichwertigen Formen der elektronischen Kommunikation, wie z. B. Push-Benachrichtigungen einer mobilen Anwendung, bezüglich Updates oder informativer Mitteilungen zu Funktionen, Produkten oder beauftragten Dienstleistungen (einschließlich Sicherheitsupdates), zu kontaktieren, wenn dies für deren Umsetzung notwendig oder sinnvoll ist.</li>
                <li><strong>Um Ihnen</strong> Nachrichten, Sonderangebote und allgemeine Informationen über andere Waren, Dienstleistungen und Veranstaltungen bereitzustellen, die wir anbieten und die denen ähneln, die Sie bereits gekauft oder angefragt haben, es sei denn, Sie haben sich gegen den Erhalt solcher Informationen entschieden.</li>
                <li><strong>Zur Verwaltung Ihrer Anfragen</strong>: Um Ihre Anfragen an uns zu bearbeiten und zu verwalten.</li>
                <li><strong>Für Unternehmensübertragungen</strong>: Wir können Ihre Informationen verwenden, um eine Fusion, Veräußerung, Umstrukturierung, Reorganisation, Auflösung oder einen anderen Verkauf oder eine Übertragung einiger oder aller unserer Vermögenswerte zu bewerten oder durchzuführen, sei es als fortgeführtes Unternehmen oder als Teil eines Insolvenz-, Liquidations- oder ähnlichen Verfahrens, bei dem personenbezogene Daten, die wir über unsere Dienstnutzer gespeichert haben, zu den übertragenen Vermögenswerten gehören.</li>
                <li><strong>Für andere Zwecke</strong>: Wir können Ihre Informationen für andere Zwecke verwenden, wie z. B. Datenanalyse, Ermittlung von Nutzungstrends, Bestimmung der Wirksamkeit unserer Werbekampagnen sowie zur Bewertung und Verbesserung unseres Dienstes, unserer Produkte, Dienstleistungen, unseres Marketings und Ihrer Erfahrung.</li>
            </ul>

            <h3>Aufbewahrung Ihrer personenbezogenen Daten</h3>
            <p>Das Unternehmen bewahrt Ihre personenbezogenen Daten nur so lange auf, wie es für die in dieser Datenschutzerklärung genannten Zwecke erforderlich ist. Wir bewahren und verwenden Ihre personenbezogenen Daten, soweit dies zur Erfüllung unserer gesetzlichen Verpflichtungen (z. B. wenn wir Ihre Daten zur Einhaltung geltender Gesetze aufbewahren müssen), zur Beilegung von Streitigkeiten und zur Durchsetzung unserer rechtlichen Vereinbarungen und Richtlinien erforderlich ist.</p>

            <p>Das Unternehmen bewahrt auch Nutzungsdaten für interne Analysezwecke auf. Nutzungsdaten werden in der Regel für einen kürzeren Zeitraum aufbewahrt, es sei denn, diese Daten werden zur Stärkung der Sicherheit oder zur Verbesserung der Funktionalität unseres Dienstes verwendet oder wir sind gesetzlich verpflichtet, diese Daten für längere Zeiträume aufzubewahren.</p>

            <h3>Übermittlung Ihrer personenbezogenen Daten</h3>
            <p>Ihre Informationen, einschließlich personenbezogener Daten, werden in den Betriebsbüros des Unternehmens und an allen anderen Orten verarbeitet, an denen sich die an der Verarbeitung beteiligten Parteien befinden. Das bedeutet, dass diese Informationen auf Computer übertragen und dort gespeichert werden können, die sich außerhalb Ihres Bundeslandes, Ihrer Provinz, Ihres Landes oder einer anderen staatlichen Gerichtsbarkeit befinden, in der die Datenschutzgesetze von denen Ihrer Gerichtsbarkeit abweichen können.</p>

            <p>Ihre Zustimmung zu dieser Datenschutzerklärung und die anschließende Übermittlung solcher Informationen gilt als Ihre Einwilligung zu dieser Übertragung.</p>

            <p>Das Unternehmen trifft alle angemessenen Maßnahmen, um sicherzustellen, dass Ihre Daten sicher und in Übereinstimmung mit dieser Datenschutzerklärung behandelt werden und keine Übermittlung Ihrer personenbezogenen Daten an eine Organisation oder ein Land erfolgt, sofern nicht angemessene Kontrollen, einschließlich der Sicherheit Ihrer Daten und anderer personenbezogener Informationen, vorhanden sind.</p>

            <h3>Löschen Ihrer personenbezogenen Daten</h3>
            <p>Sie haben das Recht, die Löschung der von uns über Sie erhobenen personenbezogenen Daten zu verlangen oder uns bei der Löschung zu unterstützen.</p>

            <p>Unser Dienst kann Ihnen die Möglichkeit geben, bestimmte Informationen über Sie innerhalb des Dienstes zu löschen.</p>

            <p>Sie können Ihre Informationen jederzeit aktualisieren, ändern oder löschen, indem Sie sich in Ihr Konto einloggen (sofern vorhanden) und den Bereich für Kontoeinstellungen aufsuchen, der es Ihnen ermöglicht, Ihre personenbezogenen Daten zu verwalten. Sie können uns auch kontaktieren, um Zugang zu Ihren personenbezogenen Daten zu erhalten, diese zu korrigieren oder zu löschen.</p>

            <p>Bitte beachten Sie, dass wir bestimmte Informationen aufbewahren müssen, wenn wir dazu gesetzlich verpflichtet oder berechtigt sind.</p>

            <h3>Offenlegung Ihrer personenbezogenen Daten</h3>
            <h4>Unternehmensübertragungen</h4>
            <p>Wenn das Unternehmen an einer Fusion, Übernahme oder einem Verkauf von Vermögenswerten beteiligt ist, können Ihre personenbezogenen Daten übertragen werden. Wir werden Sie benachrichtigen, bevor Ihre personenbezogenen Daten übertragen werden und einer anderen Datenschutzerklärung unterliegen.</p>

            <h4>Strafverfolgung</h4>
            <p>Unter bestimmten Umständen kann das Unternehmen verpflichtet sein, Ihre personenbezogenen Daten offenzulegen, wenn dies gesetzlich vorgeschrieben ist oder auf berechtigte Anfragen von Behörden (z. B. einem Gericht oder einer Regierungsbehörde) erfolgt.</p>

            <h4>Sonstige rechtliche Anforderungen</h4>
            <p>Das Unternehmen kann Ihre personenbezogenen Daten in gutem Glauben offenlegen, wenn eine solche Maßnahme erforderlich ist, um:</p>

            <ul>
                <li>Einer gesetzlichen Verpflichtung nachzukommen</li>
                <li>Die Rechte oder das Eigentum des Unternehmens zu schützen und zu verteidigen</li>
                <li>Mögliches Fehlverhalten im Zusammenhang mit dem Dienst zu verhindern oder zu untersuchen</li>
                <li>Die persönliche Sicherheit der Nutzer des Dienstes oder der Öffentlichkeit zu schützen</li>
                <li>Vor rechtlicher Haftung zu schützen</li>
            </ul>

            <h3>Sicherheit Ihrer personenbezogenen Daten</h3>
            <p>Die Sicherheit Ihrer personenbezogenen Daten ist uns wichtig, aber bitte beachten Sie, dass keine Methode der Übertragung über das Internet oder der elektronischen Speicherung 100 % sicher ist. Obwohl wir bestrebt sind, wirtschaftlich akzeptable Mittel zum Schutz Ihrer personenbezogenen Daten einzusetzen, können wir deren absolute Sicherheit nicht garantieren.</p>

            <h2>Datenschutz von Kindern</h2>
            <p>Unser Dienst richtet sich nicht an Personen unter 13 Jahren. Wir erfassen nicht wissentlich personenbezogene Daten von Personen unter 13 Jahren. Wenn Sie ein Elternteil oder Erziehungsberechtigter sind und wissen, dass Ihr Kind uns personenbezogene Daten zur Verfügung gestellt hat, kontaktieren Sie uns bitte. Wenn wir feststellen, dass wir personenbezogene Daten von Personen unter 13 Jahren ohne Überprüfung der elterlichen Zustimmung erfasst haben, ergreifen wir Maßnahmen, um diese Informationen von unseren Servern zu entfernen.</p>

            <p>Wenn wir uns auf die Einwilligung als Rechtsgrundlage für die Verarbeitung Ihrer Daten stützen und Ihr Land die Einwilligung eines Elternteils verlangt, können wir die Einwilligung Ihrer Eltern einholen, bevor wir diese Daten erfassen und verwenden.</p>

            <h2>Links zu anderen Websites</h2>
            <p>Unser Dienst kann Links zu anderen Websites enthalten, die nicht von uns betrieben werden. Wenn Sie auf einen Link eines Drittanbieters klicken, werden Sie auf die Website dieses Drittanbieters weitergeleitet. Wir empfehlen Ihnen dringend, die Datenschutzerklärung jeder Website, die Sie besuchen, zu überprüfen.</p>

            <p>Wir haben keine Kontrolle über und übernehmen keine Verantwortung für die Inhalte, Datenschutzrichtlinien oder Praktiken von Websites oder Diensten Dritter.</p>

            <h2>Änderungen dieser Datenschutzerklärung</h2>
            <p>Wir können unsere Datenschutzerklärung von Zeit zu Zeit aktualisieren. Wir werden Sie über alle Änderungen informieren, indem wir die neue Datenschutzerklärung auf dieser Seite veröffentlichen.</p>

            <p>Wir werden Sie per E-Mail und/oder durch einen deutlichen Hinweis auf unserem Dienst informieren, bevor die Änderung in Kraft tritt und das Datum "Letzte Aktualisierung" am Anfang dieser Datenschutzerklärung aktualisieren.</p>

            <p>Wir empfehlen Ihnen, diese Datenschutzerklärung regelmäßig auf Änderungen zu überprüfen. Änderungen an dieser Datenschutzerklärung treten in Kraft, wenn sie auf dieser Seite veröffentlicht werden.</p>

            <h2>Kontakt</h2>
            <p>Wenn Sie Fragen zu dieser Datenschutzerklärung haben, können Sie uns kontaktieren:</p>

            <ul>
                <li>Per E-Mail: info(at)dabubble.de</li>
            </ul>

            <p>Erstellt mit dem TermsFeed Privacy Policy Generator</p>
        </div>
    </div>
</app-auth-layout>