.message {
  width: 100%;
  flex-grow: 1;
  // max-width: 989px;
  height: calc(100vh - 145px);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 30px;
  // padding: 32px 30px;
}

.header {
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 10px -10px rgba($color: #000000, $alpha: 0.2);
}

.header-inner-container {
  width: 100%;
  min-height: 96px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  gap: 20px;  
  padding: 25px 45px;
//   box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.08);
}

// .header-inner-container::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 8px;
//   background: linear-gradient(
//     to bottom,
//     rgba(0, 0, 0, 0.06) 0%,
//     rgba(0, 0, 0, 0) 100%
//   );
//   pointer-events: none;
// }

.input-field {
  position: relative;
  width: 100%;
  border: 1px solid #adb0d9;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  &:hover {
    border-color: #797ef3;
  }
  &:focus-within {
    border-color: #535af1;
  }
}

.message-content {
  height: calc(100% - 158px);
  display: flex;
  align-items: end;
}

.form {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 35px;
}

.form-field {
  position: relative;
  width: 100%;
  height: 145px;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  border: 1px solid #adb0d9;
  cursor: pointer;
  &:hover {
    border-color: #797ef3;
  }
  &:focus-within {
    border-color: #535af1;
  }
}

.floating-label {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #888;
  // pointer-events: none;
  background: #fff;
  transition: 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .floating-label,
.input:not(:placeholder-shown) + .floating-label {
  top: -8px;
  left: 20px;
  padding: 0 4px;
  font-size: 0.8rem;
  color: #535af1;
  // .form-field {
  //     border-color: #535af1;
  //     outline: none;
  // }
}

.input {
  width: 100%;
  height: calc(100% - 30px);
  border: none;
  outline: none;
  font-size: 1.1rem;
  background: transparent;
  padding: 0;
  margin: 0;
  box-shadow: none;
  overflow-y: auto;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  resize: none;
}

.input-icon-bar {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 14px;
  pointer-events: none;

  app-round-btn {
    pointer-events: auto;
  }
}

.icon-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-30 {
  width: 30px;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  cursor: pointer;
  &:hover {
    color: #535af1;
  }
}

.chat-edit-wrapper {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #adb0d9;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &:focus-within {
    border-color: #535af1;
  }

  .edit-textarea {
    min-height: 40px;
    max-height: 300px;
    width: 100%;
    min-width: 300px;
    border: none;
    border-radius: 8px;
    padding: 0;
    font-family: "Nunito";
    font-size: 18px;
    color: #686868;
    resize: none;
    overflow: auto;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }

  .edit-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    .btn {
      padding: 12px 25px;
      border-radius: 50px;
      border: 1px solid #797ef3;
      cursor: pointer;
      font-family: "Nunito";
      font-size: 18px;
      font-weight: 700;
      transition: all 0.2s ease;

      &.save {
        background-color: #444df2;
        color: #fff;

        &:hover {
          filter: opacity(80%);
        }
      }

      &.cancel {
        background-color: white;
        color: #444df2;

        &:hover {
          background-color: #444df2;
          color: white;
        }
      }
    }
  }
}

@media(max-width: 880px) {
  .message {
    width: 100%;
    height: calc(100vh - 80px);
    border-radius: 0px;
  }

  .header-inner-container {
    width: 100%;
    min-height: 96px;
    gap: 20px;  
    padding: 20px 16px 7px 16px;
  }

  .input-field {
    padding: 13px 20px;
  }

  .message-content {
    height: calc(100% - 130px);
  }

  .form {
    padding: 16px;
  }

  .icon-bar {
    gap: 5px;
  }
}