<div class="message">
    <div class="header">
        <div class="header-inner-container">
            <div class="channel-name-container">
                <div id="channel-name" class="font-24 font-w-700">Neue Nachricht</div>
            </div>

            <div class="input-field">
                <input type="text" style="display:none" autocomplete="on">
                <input #recipientInput id="recipient" class="input" [(ngModel)]="recipientText" type="text"
                    placeholder="An: #channel, @jemand oder E-Mail Adresse" autocomplete="off"
                    autocomplete="new-password" autocorrect="off" autocapitalize="off" spellcheck="false"
                    inputmode="none" role="presentation" (input)="updateRecipientCaret(recipientInput)"
                    (keyup)="updateRecipientCaret(recipientInput)">

                <app-mentions-overlay [text]="recipientText" [caretIndex]="recipientCaretIndex"
                    [currentUserId]="currentUserId" [context]="'AddRecipient'" [users]="(participants$ | async) || [] "
                    [channels]="filteredChannels"
                    (mentionSelected)="insertMentionInRecipientInput($event, recipientInput)"
                    (overlayStateChange)="overlayActiveRecipient = $event">
                </app-mentions-overlay>
            </div>
        </div>
    </div>

    <div class="message-content">

        <form class="form" (ngSubmit)="submitMessage()" #newMessageForm="ngForm">
            <div class="form-field">
                <textarea #newMessageInput id="new-message" class="input" name="message" [(ngModel)]="newMessage"
                    (keydown.enter)="onEnterPress($any($event))" type="text" placeholder="Starte eine neue Nachricht"
                    (input)="updateCaretPosition(newMessageInput)"
                    (keyup)="updateCaretPosition(newMessageInput)"></textarea>

                <app-smiley-overlay [active]="activeSmiley" [emojis]="allSmileys"
                    (selected)="onSmileySelected($event, newMessageInput)" (activeChange)="activeSmiley = $event">
                </app-smiley-overlay>
                <app-mentions-overlay [text]="newMessage" [caretIndex]="mentionCaretIndex"
                    [currentUserId]="currentUserId" [context]="'Channel'" [users]="(participants$ | async) || [] "
                    [channels]="filteredChannels" (mentionSelected)="insertMention($event, newMessageInput)"
                    (overlayStateChange)="overlayActiveMessage = $event">
                </app-mentions-overlay>

                <div class="input-icon-bar">
                    <div class="icon-bar t-gray">
                        <app-round-btn iconSrc="assets/message-icons/sentiment_satisfied-gray.svg"
                            iconHoverSrc="assets/message-icons/sentiment_satisfied-purple.svg"
                            altText="Reaktion hinzufügen" [type]="'button'" (click)="openSmileyOverlay()">
                        </app-round-btn>
                        <app-round-btn iconSrc="assets/message-icons/alternate_email-gray.svg"
                            iconHoverSrc="assets/message-icons/alternate_email-purple.svg"
                            altText="Empfänger hinzufügen" [type]="'button'"
                            (click)="insertAtCursor('@', newMessageInput)">
                        </app-round-btn>
                    </div>

                    <app-round-btn style="--btn-bg-hover: #ffffff;" iconSrc="assets/message-icons/send-purple.svg"
                        iconHoverSrc="assets/message-icons/send-purple2.svg" altText="Senden" type="submit">
                    </app-round-btn>
                </div>
            </div>
        </form>

    </div>
</div>