<app-auth-layout [showOverlay]="showOverlay" [overlayVariant]="overlayVariant">

    <button class="arrow-back" (click)="onBackClick()">
        <img src="/assets/icons/arrow_back.svg">
    </button>

    <div class="login-header">
        <h1>Wähle deinen Avatar</h1>
    </div>

    <div class="preview">
        <img [src]="'assets/user-icons/' + selectedAvatar + '.svg'">

        <h2 class="font-32">{{ draftUser.name || 'Benutzer' }}</h2>
    </div>
    <span class="font-20">Aus der Liste wählen</span>
    <div class="preview-images">
        <div class="avatar-wrapper" *ngFor="let avatar of avatarImages" (click)="selectAvatar(avatar)"
            [class.selected]="selectedAvatar === avatar">
            <img [src]="'assets/user-icons/' + avatar + '.svg'">
        </div>
    </div>
    <div class="continue">
        <button (click)="register()">Weiter</button>
    </div>
</app-auth-layout>