@use "../../styles/variables" as *;
@use "../../styles/shared-classes";

.arrow-back {
  top: 50px;
  left: 15px;
}

.login-header{
  margin-bottom: 14px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
  }
}

.preview-images {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 125ms ease-in-out;

  &:hover {
    background-color: $lightblue;
  }

  &.selected {
    background-color: $lightblue;
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}

.continue {
  margin-top: 32px;
}

@media (max-width: 1300px) {
  .login-header {
    margin: 0;
    h1 {
      font-size: 32px;
    }
  }
  .arrow-back {
    top: 35px;
  }
  .preview {
    gap: 16px;
    img {
      width: 120px;
      height: auto;
    }
  }

  .avatar-wrapper {
    width: 56px;
    height: 56px;

    img {
      width: 48px;
      height: 48px;
    }
  }
}

@media (max-width: 500px) {
  .login-header {
    margin: 0;
  }
  .preview {
    gap: 16px;
    margin: 0;
    img {
      width: 120px;
      height: auto;
    }
  }

  .avatar-wrapper {
    width: 56px;
    height: 56px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  .login-card {
    gap: 16px;
  }
}