<div class="dialogue-overlay" *ngIf="currentUser$ | async as user">
    <div class="dialogue-overlay-header">
        <div>Dein Profil bearbeiten</div>
        <app-round-btn (click)="handleClose()" iconSrc="assets/icons/close.svg"
            iconHoverSrc="assets/icons/close-purple.svg" altText="Schließen">
        </app-round-btn>
    </div>

    <div class="user-img-container" *ngIf="!showImgPicker">
        <div class="user-img-wrapper">
            <img class="user-img" [src]="'assets/user-icons/' + (selectedImg || user.img) + '.svg'"
                (click)="toggleImgPicker()" />

            <button class="img-close-btn" (click)="resetImg()">
                <img src="assets/icons/close.svg" alt="Entfernen" />
            </button>
        </div>
    </div>


    <div class="img-picker" *ngIf="showImgPicker">
        <img *ngFor="let icon of availableIcons" [src]="'assets/user-icons/' + icon + '.svg'" (click)="selectImg(icon)"
            class="img-option" />
    </div>

    <div class="name-container">
        <div class="edit-info-container">
            <img src="assets/icons/account_circle.svg" alt="">
            <div class="edit-info">Vollständiger Name</div>
        </div>

        <div class="input-container">
            <input class="input" type="text" [(ngModel)]="editedName" [placeholder]="user.name">
        </div>
    </div>


    <div class="btn-container">
        <button (click)="handleClose()" class="btn cancel-btn" [class.wiggle]="animationClass === 'wiggle'"
            (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            <div class="f-nunito">Abbrechen</div>
        </button>

        <button class="btn save-btn" (click)="handleSave()" [disabled]="!isNameValid()"
            [class.wiggle]="animationClass === 'wiggle'" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            <div class="f-nunito">Speichern</div>
        </button>
    </div>

</div>