.dialogue-overlay {
  position: absolute;
  top: 116px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px 0 30px 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.dialogue-overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.user-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-img-wrapper {
  position: relative;
  display: inline-block;
  height: 200px;

  .user-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 0px 8px #e7e7e6;
    }
  }

  .img-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    img {
      width: 16px;
      height: 16px;
      display: block;
    }

    &:hover {
      background: #f3f3f3;
    }
  }
}

.img-picker {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: calc((95px * 3) + (10px * 2));
  margin: 0 auto 0;

  .img-option {
    width: 95px;
    height: 95px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.2s;
    object-fit: cover;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.name-container {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.edit-info-container {
  display: flex;
  gap: 20px;
  pointer-events: none;
}

.edit-info {
  font-size: 20px;
  font-weight: 700;
}

.input {
  width: 420px;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  font-size: 18px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  width: fit-content;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 50px;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.save-btn {
  background-color: #444df2;
  color: #ffffff;

  &:hover {
    background-color: #797ef3;
  }

  &[disabled] {
    background-color: #686868;
    cursor: default;
  }
}

.cancel-btn {
  background-color: #ffffff;
  color: #444df2;
  border: 1px solid #797ef3;

  &:hover {
    background-color: #797ef3;
    color: #ffffff;
  }
}

@media (max-width: 880px) {
  .dialogue-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
    width: 360px;
    gap: 38px;
    padding: 40px 20px;
    border-top-right-radius: 30px;
  }

  .name-container {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .dialogue-overlay {
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: unset;
  }

  .dialogue-overlay-header {
    font-size: 22px;
  }

  .img-picker {
    max-width: calc((70px * 3) + (10px * 2));

    .img-option {
      width: 70px;
      height: 70px;
    }
  }
}
