<div class="dialogue-overlay">
    <div class="dialogue-overlay-header">
        <div>Profil</div>
        <app-round-btn (click)="handleClose()" iconSrc="assets/icons/close.svg"
            iconHoverSrc="assets/icons/close-purple.svg"
            altText="Schließen">
        </app-round-btn>
    </div>

    <div class="user-img-container">
        <img class="user-img" src="assets/user-icons/icon2.svg" alt="">
    </div>

    <div>
        <div>Elise Roth</div>
        <div>
            <div class="online-signal"></div>
            Abwesend
        </div>
    </div>

    <div>
        <div>
            <img src="" alt="">
            E-Mail-Adresse
        </div>
        <div>rothelise&#64;beispiel.com</div>
    </div>

    <button>
        <img src="" alt="">
        Nachricht
    </button>
</div>