.dialogue-overlay {
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: calc(50% - 185px);
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
    z-index: 8;
}

.dialogue-overlay-header {
    // width: 335px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
}

.user-img-container {
 width: 100%;
 display: flex;
 justify-content: center;
} 

.user-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

