.dialogue-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.dialogue-overlay-header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
}

.user-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.name-container {
  width: 420px;
  pointer-events: none;
}

.user-name {
  font-size: 32px;
  font-weight: 700;
}

.online-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.online-signal-solo {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.mail-container {
  pointer-events: none;
}

.mail-address {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
}

.mail {
  color: #1381ff;
  padding-left: 50px;
  padding-right: 10px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-btn {
  width: fit-content;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 50px;
  padding: 12px 25px;
  background-color: #444df2;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #797ef3;
  }
}

@media(max-width: 880px) {
  .dialogue-overlay {
    width: 398px;
    gap: 45px;
    padding: 40px 20px;
  }
}

@media(max-width: 430px) {
  .dialogue-overlay {
    width: 100%;
  }
}