<div class="dialogue-overlay">
    <div class="dialogue-overlay-header">
        <div>Profil</div>
        <app-round-btn (click)="handleClose()" iconSrc="assets/icons/close.svg"
            iconHoverSrc="assets/icons/close-purple.svg" altText="Schließen">
        </app-round-btn>
    </div>

    <div class="user-img-container">
        <img class="user-img" [src]="'assets/user-icons/' + user.img + '.svg'" alt="">
    </div>

    <div class="name-container">
        <div class="user-name">{{ user.name }}</div>
        <div class="online-info">
            <div class="online-signal-solo" [ngClass]="user.presence"></div>
            <div class="online-status">{{ user.presence }}</div>
        </div>
    </div>

    <div class="mail-container">
        <div class="mail-address">
            <img src="assets/icons/mail.svg" alt="">
            <div>E-Mail-Adresse</div>
        </div>
        <div class="mail">{{ user.email }}</div>
    </div>

    <div class="btn-container">
        <button class="message-btn" (click)="onMessageClick()">
            <img src="assets/icons/mode_comment.svg" alt="">
            <div class="f-nunito">Nachricht</div>
        </button>
    </div>
</div>