<div class="menu">
    <mat-toolbar>
        <div class="toolbar-header">
            <img src="assets/icons/workspace-logo.svg" alt="">
            <span>Devspace</span>
        </div>
        
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <img src="assets/icons/edit_square.svg" alt="">
        </button>

    </mat-toolbar>

    <div class="menu-content">
        <div class="menu-section">
            <div class="list-header-container">
                <div class="list-header">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <img class="arrow-img" src="assets/icons/arrow_drop_down.svg" alt="">
                    </button>
                    
                    <div class="list-headline">
                        <img src="assets/icons/workspaces.svg" alt="">
                        Channels
                    </div>
                </div>

                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <img src="assets/icons/add.svg" alt="">
                </button>
            </div>

            <div class="channel-list">
                <div class="channel">
                    <div>#</div>
                    <div>Entwickler-Team</div>
                </div>
                <div class="channel active">
                    <div>#</div>
                    <div>Office-Team</div>
                </div>
            </div>

            <div class="sub-section">
                <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
                    <img src="assets/icons/add_circle.svg" alt="">
                <!-- </button> -->
                Channel hinzufügen
            </div>
        </div>
        
        <div class="menu-section">
            <div class="list-header-container">
                <div class="list-header">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <img class="arrow-img" src="assets/icons/arrow_drop_down.svg" alt="">
                    </button>

                    <div class="list-headline">
                        <img src="assets/icons/account_circle.svg" alt="">
                        Direktnachrichten
                    </div>
                </div>
                
                <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>edit_square</mat-icon>
                </button> -->
            </div>

            <div class="user-list">
                <div class="user">
                    <img src="assets/user-icons/icon3.svg" alt=""> 
                    Frederick Beck (Du)
                </div>
                <div class="user">
                    <img src="assets/user-icons/icon5.svg" alt=""> 
                    Sofia Müller
                </div>
            </div>
        </div>
    </div>
    

</div>
