<div class="menu">
    <mat-toolbar>
        <div class="toolbar-header">
            <img src="assets/icons/workspace-logo.svg" alt="">
            <span class="font-24 font-w-700 f-nunito">Devspace</span>
        </div>

        <!-- <span class="example-spacer"></span> -->

        <app-round-btn (click)="handleOpenNewMessage()" iconSrc="assets/icons/edit_square.svg" iconHoverSrc="assets/icons/edit_square-purple.svg"
            altText="Bearbeiten">
        </app-round-btn>
    </mat-toolbar>

    <div class="menu-content">
        <div class="menu-section">
            <div class="list-header-container">
                <div (click)="toggleChannels()" class="list-header font-20">
                    <img class="arrow-img hover-icon" src="assets/icons/arrow_drop_down.svg"
                        [class.rotated]="!channelsExpanded" alt="">
                    <img class="arrow-img hover-icon-purple" src="assets/icons/arrow_drop_down-purple.svg"
                        [class.rotated]="!channelsExpanded" alt="">
                    <div class="list-headline font-w-700">
                        <img class="hover-icon" src="assets/icons/workspaces.svg" alt="">
                        <img class="hover-icon-purple" src="assets/icons/workspaces-purple.svg" alt="">
                        Channels
                    </div>
                </div>

                <button class="add-channel-btn" (click)="handleOpenAddChannel($event)">
                    <img class="add-channel" src="assets/icons/add.svg" alt="">
                    <img class="add-channel-purple" src="assets/icons/add-purple.svg" alt="">
                </button>
            </div>


            <div class="channel-section" *ngIf="channelsExpanded">
                <div class="channel-list">
                    <div (click)="handleOpenChannel(channel)" class="channel" *ngFor="let channel of channels"
                        [class.active]="channel.id === activeChannelId">
                        <div class="channel-icon-container">
                            <img class="hover-icon" src="assets/icons/tag.svg" alt="">
                            <img class="hover-icon-purple" src="assets/icons/tag-purple.svg" alt="">
                        </div>
                        <div>{{ channel.name }}</div>
                    </div>
                </div>

                <div class="sub-section" (click)="handleOpenAddChannel($event)">
                    <img class="hover-icon" src="assets/icons/add_circle.svg" alt="">
                    <img class="hover-icon-purple" src="assets/icons/add_circle-purple.svg" alt="">

                    Channel hinzufügen
                </div>
            </div>
        </div>
        <div class="menu-section">
            <div class="list-header-container">
                <div (click)="toggleUsers()" class="list-header font-20">
                    <img class="arrow-img hover-icon" src="assets/icons/arrow_drop_down.svg"
                        [class.rotated]="!usersExpanded" alt="">
                    <img class="arrow-img hover-icon-purple" src="assets/icons/arrow_drop_down-purple.svg"
                        [class.rotated]="!usersExpanded" alt="">
                    <div class="list-headline font-w-700">
                        <img class="hover-icon" src="assets/icons/account_circle.svg" alt="">
                        <img class="hover-icon-purple" src="assets/icons/account_circle-purple.svg" alt="">
                        Direktnachrichten
                    </div>
                </div>
            </div>
            <div class="user-list" *ngIf="usersExpanded">
                <div (click)="handleOpenUserChat(user)" class="user"
                    *ngFor="let user of sortedUsers$ | async; trackBy: trackByUserId"
                    [class.active]="user.uid === activeUserId">
                    <div class="img-container">
                        <img class="user-img" [src]="'assets/user-icons/' + user.img + '.svg'" [alt]="user.name">
                        <div class="online-signal" [ngClass]="user.presence"></div>
                    </div>
                    {{ user.name }}{{ (currentUser$ | async)?.uid === user.uid ? ' (Du)' : '' }}
                </div>
            </div>
        </div>
    </div>

</div>