.menu {
    width: 366px;
    // height: 940px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 30px;
    // padding: 32px 30px;
}

.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: var(--mat-expansion-container-shape, 30px);
    border-top-left-radius: var(--mat-expansion-container-shape, 30px);
    padding: 32px 30px 0 30px;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: var(--mat-expansion-container-shape, 30px);
    border-bottom-left-radius: var(--mat-expansion-container-shape, 30px);
    padding: 0 30px 32px 30px;
}

.mat-expansion-panel {
    // background-color: #ffffff;
    // border-radius: 30px;
    // padding: 32px 30px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    /* box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); */
}

.mat-expansion-panel-spacing {
    margin: 0px 0;
}

.mat-expansion-panel-header {
    padding: 3px 12px;
    border-radius: 30px;
}

.mat-expansion-panel-body {
    padding: 0 0px 16px;
    border-radius: 30px;
}

button {
    border: none;
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    color: black;
    display: flex;
    // align-items: center;

    img {
        width: 50px;
        border-radius: 30px;
    }
}

.mat-mdc-outlined-button:not(:disabled) {
    color: black;
}

.mdc-button {
    justify-content: left;
}