.menu {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 32px 30px;
  gap: 25px;
  position: relative;
}

.menu-header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #ffffff;
}

.toolbar-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .user-list {
    flex: 1;
  }
}

.list-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}

.list-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 10px 5px 0;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    color: #535af1;
    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

.hover-icon-purple {
  display: none;
}

.arrow-img {
  width: 30px;
  height: 30px;
}

.arrow-img {
  transition: transform 0.1s ease;
}

.arrow-img.rotated {
  transform: rotate(-90deg);
}

.list-headline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-channel-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  background-color: #ffffff;

  &:hover {
    background-color: #eceefe;

    .add-channel {
      display: none;
    }
    .add-channel-purple {
      display: block;
    }
  }
}

.add-channel-purple {
  display: none;
}

.channel-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.channel-list,
.user-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 25px;
}

.channel,
.user {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 20px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
  }
}

.channel {
  &:hover {
    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

.channel.active {
  background-color: #eceefe;
  color: #535af1;
  font-weight: 700;
  .hover-icon {
    display: none;
  }
  .hover-icon-purple {
    display: block;
  }
}

.channel-icon-container {
  display: flex;
  align-items: center;
}

.user.active {
  background-color: #eceefe;
  color: #535af1;
  font-weight: 700;
  // .hover-icon {
  //     display: none;
  // }
  // .hover-icon-purple {
  //     display: block;
  // }
}

.hover-icon,
.hover-icon-purple {
  width: 24px;
  height: 24px;
}

.hover-icon-purple {
  display: none;
}

.sub-section {
  width: fit-content;
  height: 33px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 4px 10px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    color: #535af1;
    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

// .dialogue-backdrop {
//     position: fixed;
//     inset: 0; /* top, right, bottom, left: 0 */
//     background-color: rgba(0,0,0,0.5); /* Abdunklung */
//     display: flex;
//     justify-content: flex-end; /* Panel rechts andocken */
//     align-items: flex-start;   /* oben ausrichten */
//     z-index: 99;
// }

.img-container {
  width: 50px;
  height: 50px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.searchbar-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  // margin-left: 406px;
  // margin-right: 526px;
}

.searchbar-container {
  width: 100%;
}

.searchbar {
  font-family: "Nunito";
  font-size: 17px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 8px 24px;
  border-radius: 42px;
  border: 1px solid #adb0d9;

  &:hover {
    border-color: #797ef3;
  }
  &:focus {
    outline: none;
    border-color: #535af1;
  }
}

.searchbar-container button {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar-container button img {
  width: 35px;
  height: 35px;
}

.new-message-btn {
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: #535af1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  cursor: pointer;
}

.show-responsive {
  display: none;
}

.search-header {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-bottom: 24px;

  .title {
    font-size: 18px;
    font-weight: 700;
  }

  .separator {
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100vw;
    height: 4px;
    background-color: #00000014;
    box-shadow: 0px 2px 10px 0px #00000014;
  }
}

@media (max-width: 1010px) {
  .show-responsive {
    display: flex;
  }

  .hide-responsive {
    display: none;
  }

  .menu {
    // height: calc(100% - 64px);
    // display: flex;
    // flex-direction: column;
    // flex: 1;
    // background-color: #ffffff;
    // border-radius: 30px;
    padding: 20px;
    // gap: 25px;
    // position: relative;
  }
}

@media (max-width: 880px) {
  .search-header {
    display: flex;
  }
}

@media (max-width: 430px) {
  .menu {
    padding: 8px 20px 16px 20px;
    gap: 8px;
  }

  .search-header {
    padding-bottom: 8px;
  }
}
