<div class="dialogue-overlay hide-responsive">
    <div (click)="handleOpenUserProfile()" class="btn">
        <div>Profil</div>
    </div>
    <div (click)="handleLogout()" class="btn logout-btn">
        <div>Log out</div>
    </div>
</div>

<div class="dialogue-overlay-responsive show-responsive" [class.open]="showLogoutOverlayResponsive">
    <div class="line-container">
        <div class="line"></div>
    </div>
    
    <div class="btn-container">
        <div (click)="handleOpenUserProfile()" class="responsive-btn" [class.active]="buttonActive">
            <img class="profile-img non-active-icon" src="assets/icons/account_circle.svg" alt="">
            <img class="profile-img active-icon" src="assets/icons/account_circle-purple.svg" alt="">
            <div>Profil</div>
        </div>
        <div (click)="handleLogout()" class="responsive-btn">
            <img class="logout-img" src="assets/icons/logout.svg" alt="">
            <div>Log out</div>
        </div>
    </div>
</div>