.dialogue-overlay {
  position: absolute;
  top: 116px;
  right: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 7;
}

.btn {
  width: 222px;
  display: flex;
  justify-content: center;
  padding: 10px 45px;
  font-size: 24px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
}

.logout-btn {
  &:hover {
    background-color: #eceefe;
    color: #535af1;
    font-weight: 700;
  }
}

.dialogue-overlay-responsive {
  width: 430px;
  // height: 200px;
  padding: 30px 26px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.3s ease-out;
}

// .dialogue-overlay-responsive,
// .dialogue-overlay-responsive * {
//   overflow: hidden !important;
//   -ms-overflow-style: none;  /* IE/Edge */
//   scrollbar-width: none;     /* Firefox */
// }

// .dialogue-overlay-responsive::-webkit-scrollbar {
//   display: none;             /* Chrome/Safari */
// }

.dialogue-overlay-responsive.open {
  transform: translate(-50%, 0); /* Ziel: sichtbar */
}

.line-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.line {
  width: 62px;
  height: 6px;
  background-color: #d9d9d9;
  border-radius: 23px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.responsive-btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;

  .active-icon {
    display: none;
  }
}

.responsive-btn.active {
  // &:hover{
  background-color: #eceefe;
  color: #535af1;
  // }
  .non-active-icon {
    display: none;
  }
  .active-icon {
    display: block;
  }
}

.profile-img {
  width: 25px;
  height: 25px;
}

.logout-img {
  width: 22px;
  height: 22px;
}

.show-responsive {
  display: none;
}

@media (max-width: 880px) {
  .hide-responsive {
    display: none;
  }

  .show-responsive {
    display: flex;
  }
}

@media (max-width: 430px) {
  .dialogue-overlay-responsive {
    width: 100%;
  }
}
