<div class="main-page">
    <app-header class="header" (openLogoutOverlay)="openLogoutOverlay()"
        (openUserProfile)="openUserProfile()"></app-header>

    <button class="toggle-menu-btn" type="button" (click)="toggleMenu()">
        <div class="toggle-btn-container">
            <div *ngIf="menuOpen" class="toggle-btn-content menu-open">
                <div class="toggle-btn-text font-20 f-nunito">Workspace-Menü schließen</div>
                <img class="hover-icon" src="assets/icons/hide-navigation.svg" alt="">
                <img class="hover-icon-purple" src="assets/icons/hide-navigation-purple.svg" alt="">
            </div>
            <div *ngIf="!menuOpen" class="toggle-btn-content menu-closed">
                <div class="toggle-btn-text font-20 f-nunito">Workspace-Menü öffnen</div>
                <img class="hover-icon" src="assets/icons/show-navigation.svg" alt="">
                <img class="hover-icon-purple" src="assets/icons/show-navigation-purple.svg" alt="">
            </div>

        </div>
    </button>

    <div class="container">
        <div #drawer class="sidenav" [class.closed]="!menuOpen" mode="side">
            <app-menu (openAddChannel)="openAddChannel()" (openChannel)="openChannel($event)"
                (openUserChat)="openUserChat($event)"></app-menu>
        </div>
        <div class="content" [class.fullwidth]="!menuOpen" [class.dm-open]="isDmOpen">
            <app-chats id="chats" class="chats" *ngIf="channelOpen" [channelId]="currentChannelId"
                (openThread)="openThread($event)"></app-chats>
            <app-thread id="thread" class="thread" *ngIf="threadOpen && currentChannelId && threadChatId"
                [chatId]="threadChatId" [channelId]="currentChannelId" [hidden]="!threadOpen"
                (closeThread)="threadOpen = false"></app-thread>
            <app-direct-message-chats *ngIf="userChatOpen && activeUserId" [userId]="activeUserId"
                (openProfile)="openProfileOverlay($event)"></app-direct-message-chats>
        </div>
    </div>


    <div (click)="closeAllOverlays()" *ngIf="anyOverlayOpen()" class="dialogue-backdrop"></div>

    <app-logout-overlay *ngIf="showLogoutOverlay" (close)="closeAllOverlays()" (openUser)="openUserProfile()"
        (logout)="logout()">
    </app-logout-overlay>
    <app-user-profile *ngIf="showUserProfile" (close)="closeAllOverlays()"
        (openEdit)="openEditUser()"></app-user-profile>
    <app-edit-user *ngIf="showEditUser" (close)="closeAllOverlays()"></app-edit-user>
    <app-profile-overlay *ngIf="showProfileOverlay" [user]="selectedProfile"
        (openDmChat)="openDmChatFromOverlay($event)" (close)="closeAllOverlays()"></app-profile-overlay>

    <app-add-channel-overlay *ngIf="showAddChannelDialogue" (close)="closeAddChannel()">
    </app-add-channel-overlay>

</div>