.main-page {
    width: 100%;
    height: 100vh;
    background-color: #eceefe;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #eceefe;
}

.mat-drawer {
    background-color: unset;
}

.sidenav {
    width: 366px+20px;
    top: 25px;
    left: 20px;
    z-index: 0 !important;
}

.content {
    display: flex;
    gap: 20px;
    left: 25px;
    padding: 25px 20px;
}

.chats {
    // max-width: 989px;
    flex-grow: 1;
}

.toggle-menu-btn {
    width: 56px;
    height: 347px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: initial;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    padding: 20px 12px;
    background-color: #ffffff;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    &:hover {
        background-color: #eceefe;
    }
}

.toggle-btn-container {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    img {
        transform: rotate(90deg);
    }
}

.toggle-btn-text {
    white-space: nowrap;
    color: black;
}

.dialogue-backdrop {
  position: fixed; /* Vollbild */
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; /* über dem restlichen Layout */
  display: flex;
  justify-content: center; /* Dialog horizontal mittig, wenn gewünscht */
  align-items: center; /* Dialog vertikal mittig */
}