.main-page-container {
  width: 100vw;
  height: 100vh;
  background-color: #eceefe;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-page {
  width: 100vw;
  max-width: 2560px;
  height: 100vh;
  background-color: #eceefe;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 100%;
  // height: 100vh;
  // height: calc(100vh - 120px);
  background-color: #eceefe;
  display: flex;
  align-items: center;
}

.mat-drawer {
  background-color: unset;
}

.sidenav {
  position: fixed;
  top: 120px;
  width: 366px;
  height: calc(100vh - 120px - 25px);
  margin-left: 20px;
  border-radius: 30px;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(0);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  app-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.sidenav.closed {
  transform: translateX(-386px);
}

.content {
  display: flex;
  gap: 20px;
  padding: 25px 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease, margin-right 0.3s ease;
  margin-left: 386px;
  margin-bottom: 20px;
}

.content.fullwidth {
  margin-left: 0;
}

.content.thread-open {
  margin-right: 505px;
}

.content.dm-open,
.content.nm-open {
  display: block;
  width: 100%;
}

.content.dm-open app-direct-message-chats {
  width: 100%;
  max-width: none;
}

.chats {
  flex-grow: 1;
  min-width: none;
}

.toggle-menu-btn {
  width: 56px;
  height: 347px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: initial;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  padding: 20px 12px;
  background-color: #ffffff;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;

  &:hover {
    color: #535af1;
    font-weight: 700;

    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

.toggle-btn-content {
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  img {
    transform: rotate(90deg);
  }
}

.toggle-btn-text {
  white-space: nowrap;
}

.hover-icon-purple {
  display: none;
}

.dialogue-backdrop, .dialogue-backdrop-responsive {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogue-backdrop {
  z-index: 7;
}

.dialogue-backdrop-responsive {
  z-index: 9;
}

.thread {
  width: 485px;
  flex-grow: 1;
  position: fixed;
  top: 120px;
  right: 20px;
  transition: transform 0.3s ease;
  transform: translateX(505px);
}

.thread.open {
  transform: translateX(0);
}

.thread.fullwidth {
  width: calc(100vw - 426px);
}

.thread.fullwidth-without-menu {
  width: calc(100vw - 40px);
}

.thread.closed {
  transform: translateX(505px);
}

@media(max-width: 880px) {
  .hide-responsive {
    display: none;
  }

  .container {
    display: flex;
    width: 100%;
    background-color: #eceefe;
    display: flex;
    align-items: end;
  }

  .sidenav {
    // position: fixed;
    top: 80px;
    // left: 20px;
    // left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    border-radius: 0px;
    margin-left: 0;
  }

  .sidenav.closed {
    display: none;
  }

  .content {
    display: flex;
    width: 100vw;
    padding: 0;
  }

  .content.thread-open {
    margin-right: 0;
  }

  .thread {
    top: 80px;
    right: 0;
  }

  .thread {
    transition: unset;
    transform: unset;
  }

  .thread.open {
    transform: unset;
  }

  .thread.fullwidth-without-menu {
    width: 100vw;
  }

  .thread.closed {
    transform: unset;
    display: none;
  }
}

@media(min-width: 2560px) {
  .toggle-menu-btn {
    display: none;
  }

  .thread {
    right: calc((100vw - 2560px)/2 + 20px);
  }

  .thread.closed {
    display: none;
  }
}