$purple1: #444df2;
$purple2: #797ef3;
$purple3: #525af0;
$lightpurple: #adb0d9;
$lightblue: #eceefe;

// .intro {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-image: linear-gradient(#797ef3, #525af0, #444df2);
//   display: none;
// }

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Nunito";
}

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/nunito.ttf");
}

#logo {
  position: absolute;
  top: 75px;
  left: 75px;
}

.register {
  font-size: 18px;
  position: absolute;
  top: 75px;
  right: 75px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  button {
    padding: 10px 15px;
    margin-left: 16px;
    font-size: 18px;
    color: $purple2;
    background-color: transparent;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: box-shadow 125ms ease-in-out, color 125ms ease-in-out;

    &:hover {
      color: $purple1;
      box-shadow: 0 0 0 1px $lightpurple;
    }
  }
}

.login {
  height: 100vh;
  background-color: $lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 35px 20px;
}

.login-card {
  background-color: white;
  max-width: 606px;
  padding: 50px 60px;

  .login-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;

    h1 {
      font-size: 46px;
      color: #444df2;
    }

    span {
      font-size: 20px;
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;

  .input-item {
    display: flex;
    background-color: $lightblue;
    border-radius: 100px;
    padding: 18px 32px;
    gap: 32px;
    transition: box-shadow 125ms ease-in-out;

    &:hover {
      box-shadow: 0 0 0 1px #686868;
    }

    input {
      font-size: 18px;
      width: 100%;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }

    &:has(input:focus) {
      box-shadow: 0 0 0 1px $purple3;

      img {
        filter: brightness(0);
        transition: filter 125ms ease;
      }
    }
  }
}

.forgot-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  button {
    padding: 5px 15px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: $purple2;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 18px;
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover {
      font-weight: 500;
      color: $purple1;
      background-color: $lightblue;
    }
  }
}

.separator {
  margin: 32px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .line {
    width: 100%;
    height: 1px;
    background-color: $lightpurple;
  }
}

.google-login {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: $lightblue;
  border: none;
  border-radius: 100px;
  padding: 11px 32px;
  font-size: 18px;

  color: $purple1;
  transition: box-shadow 125ms ease-in-out, font-weight 125ms ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px $purple1;
    font-weight: 700;
  }
}

.button-group {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 30px;

  button {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 25px;
    border: 1px solid $purple2;
    font-size: 18px;
    font-weight: 700;
  }

  button:nth-child(1) {
    background-color: $purple1;
    color: white;
    transition: filter 125ms ease-in-out;
    &:hover {
      filter: opacity(80%);
    }
  }
  button:nth-child(2) {
    background-color: transparent;
    color: $purple1;
    transition: color 125ms ease-in-out, background-color 125ms ease-in-out;
    &:hover {
      color: white;
      background-color: $purple1;
    }
  }
}

.legal-links {
  display: flex;
  gap: 16px;
  font-size: 18px;

  a {
    text-decoration: none;
    color: $purple2;
  }
}
