// .intro {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-image: linear-gradient(#797ef3, #525af0, #444df2);
//   display: none;
// }

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.login {
  height: 100vh;
  background-color: #eceefe;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 20px;
}

.login-card {
  background-color: white;
  max-width: 606px;
  padding: 50px 60px;

  .login-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
  }
}
