.dialogue-overlay {
  position: absolute;
  top: 116px;
  right: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 45px;
  padding: 40px;
  background-color: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 7;
}

.dialogue-overlay-header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
}

.user-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.name-container {
  width: 420px;
}

.name-edit {
  display: flex;
  justify-content: space-between;
}

.user-name {
  font-size: 32px;
  font-weight: 700;
}

.edit {
  color: #535af1;
  cursor: pointer;
}

.online-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.online-signal-solo {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.mail-container {
  pointer-events: none;
}

.mail-address {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
}

.mail {
  color: #1381ff;
  padding-left: 50px;
  padding-right: 10px;
}

@media(max-width: 880px) {
  .dialogue-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
    width: 398px;
    gap: 38px;
    padding: 40px 20px;
    border-top-right-radius: 30px;
  }

  .name-container {
    width: 100%;
  }
}

@media(max-width: 430px) {
  .dialogue-overlay {
    width: 100%;
  }
}