/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/nunito.ttf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.online-signal {
    width: 14px;
    height: 14px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 56px;
}

.online {
    background-color: #92c83e;
}

.offline {
    background-color: #686868;
}

.f-nunito {
  font-family: 'Nunito', "Helvetica Neue", sans-serif;
}

.font-32 {
  font-size: 32px;
}

.font-24 {
  font-size: 24px;
}

.font-20 {
  font-size: 20px;
}

.font-14 {
    font-size: 14px;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-500 {
  font-weight: 500;
}

.bg-light-purple {
  background-color: #eceefe;
}

.bg-middle-purple {
  background-color: #797ef3;
}

.bg-dark-purple {
  background-color: #444DF2;
}

.t-gray {
  color: #686868;
}

.t-light-purple {
  color: #ADB0D9;
}

.t-middle-purple {
  color: #797ef3;
}

.t-purple {
  color: #535AF1;
}

.t-dark-purple {
  color: #444DF2;
}