/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/nunito.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

body.intro-active {
  overflow: hidden;
  height: 100%;
}

.online-signal {
  width: 14px;
  height: 14px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: 56px;
}

.online {
  background-color: #92c83e;
}

.offline {
  background-color: #686868;
}

.f-nunito {
  font-family: "Nunito", "Helvetica Neue", sans-serif;
}

.inline-smiley {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.font-32 {
  font-size: 32px;
}

.font-24 {
  font-size: 24px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-14 {
  font-size: 14px;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-400 {
  font-weight: 400;
}

.bg-light-purple {
  background-color: #eceefe;
}

.bg-middle-purple {
  background-color: #797ef3;
}

.bg-dark-purple {
  background-color: #444df2;
}

.t-gray {
  color: #686868;
}

.t-light-purple {
  color: #adb0d9;
}

.t-middle-purple {
  color: #797ef3;
}

.t-purple {
  color: #535af1;
}

.t-dark-purple {
  color: #444df2;
}

.t-green {
  color: #92c83e;
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: rgba($color: #000000, $alpha: 0.05);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media(max-width: 880px) {
  .font-24 {
    font-size: 20px;
  }

  .dm-user {
    .online-signal {
      left: 40px;
    }
  }
  
}