<div class="header">
    <div class="logo hide-responsive">
        <img src="assets/img/login-logo.svg" alt="logo">
        <div class="font-32 font-w-700">DABubble</div>
    </div>

    <div *ngIf="menuOpen" class="responsive-logo show-responsive">
        <img src="assets/img/login-logo-small.svg" alt="logo">
    </div>

    <div (click)="handleOpenMenu()" *ngIf="!menuOpen" class="back-to-menu">
        <img src="assets/icons/keyboard_arrow_down.svg" alt="zum Menü">
        <div class="responsive-devspace show-responsive">
            <img src="assets/icons/workspace-logo.svg" alt="logo">
            <div class="font-20 font-w-700">Devspace</div>
        </div>
    </div>

    <div class="searchbar-wrapper hide-responsive">
        <div class="searchbar-container">
            <input #searchInput class="searchbar t-gray font-24" type="text" placeholder="Devspace durchsuchen"
                [(ngModel)]="searchText" (input)="updateCaret(searchInput)" (keyup)="updateCaret(searchInput)"
                (focus)="onSearchFocus()" (blur)="onSearchBlur()">
            <button mat-icon-button aria-label="Example icon-button with share icon">
                <img src="assets/icons/lens.svg" alt="">
            </button>
        </div>

        <app-mentions-overlay *ngIf="inputFocused" [text]="searchText" [caretIndex]="caretIndex"
            [currentUserId]="currentUser?.uid" [context]="'Searchbar'" [users]="users" [channels]="relevantChannels"
            [messages]="messages" (navigateToChat)="onNavigateToChat($event)"
            (overlayStateChange)="overlayActive = $event">
        </app-mentions-overlay>
    </div>

    <div (click)="openDialogueLogout()" class="user" *ngIf="currentUser as user">
        <div id="user-name" class="user-name font-32 font-w-700 hide-responsive">{{ user.name }}</div>
        <div class="img-container">
            <img class="user-img" [src]="'assets/user-icons/' + getAvatarImg(user) + '.svg'" alt="Avatar">
            <div class="hide-responsive" [class]="'online-signal-header ' + user.presence"></div>
        </div>

        <div class="icon-container hide-responsive">
            <img class="hover-icon" src="assets/icons/expand_more.svg" alt="">
            <img class="hover-icon-purple" src="assets/icons/expand_more-purple.svg" alt="">
        </div>
    </div>
</div>