.header {
    width: 100%;
    // background-color: #eceefe;
    padding-top: 25px;
    display: flex;
}

.logo {
    position: absolute;
    top: 25px;
    left: 45px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;

    img {
        height: 70px;
    }
}

.searchBar {
    width: 100%;
    // max-width: 989px;
    height: 70px;
    box-sizing: border-box;
    margin-left: 406px;
    margin-right: 526px;
    padding: 17.5px 45px;
    border-radius: 42px;
    border: none;
}

.user {
    position: absolute;
    top: 25px;
    right: 45px;
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        width: 70px;
        border-radius: 42px;
    }
}

@media(max-width: 1445px) {
    .searchBar {
        width: 514px;
        margin-right: 250px;
    }
}

@media(max-width: 940px) {
    .searchBar {
        margin-left: 260px;
    }
}