<div class="dialogue-overlay">
    <div class="dialogue-overlay-header">
        Mitglieder
        <app-round-btn (click)="closeDialogue()" iconSrc="assets/icons/close.svg"
            iconHoverSrc="assets/icons/close-purple.svg"
            altText="Schließen">
        </app-round-btn>
    </div>
    <div class="content">
        <div class="users">
            <div class="user">
                <div class="img-container">
                    <img src="" alt="">
                    o
                </div>
                Name
            </div>

            <div class="user">
                <div class="img-container">
                    <img src="" alt="">
                    o
                </div>
                Name
            </div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            Mitglieder hinzufügen
        </div>
    </div>
</div>