.dialogue-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 872px;
  height: 539px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.dialogue-overlay-header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
}

.input-container {
  // width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: 700;
}

.optional {
  font-weight: 400;
  color: #686868;
}

.input-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  display: flex;
  align-items: center;

  .error-msg {
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 14px;
    color: #ff4d4d;
    pointer-events: none;
  }
}

input {
  width: 100%;
  font-size: 18px;
  padding: 18px 20px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid #adb0d9;

  &.error-border {
    border-color: #ff4d4d !important;
  }

  &:hover {
    border-color: #797ef3;
  }
  &:focus {
    border-color: #535af1;
    outline: none;
  }
}

.channel-name {
  width: 100%;
  padding: 18px 20px 18px 50px;
}

.input-icon {
  position: absolute;
  left: 20px;
  pointer-events: none;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.add-btn {
  width: fit-content;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 50px;
  padding: 12px 25px;
  background-color: #444df2;
  // background-color: #686868;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #797ef3;
  }

  &:disabled {
    background-color: #686868;
    cursor: not-allowed;
  }
}

@media(max-width: 880px) {
  .dialogue-overlay {
    top: 0;
    left: 0;
    transform: unset;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    padding: 40px 20px;
    border-radius: 0px;
    box-shadow: none;
  }
}