<div class="dialogue-overlay">
    <div class="header-container">
        <div class="dialogue-overlay-header">
            <div>Channel erstellen</div>
            <app-round-btn (click)="handleClose()" iconSrc="assets/icons/close.svg"
                iconHoverSrc="assets/icons/close-purple.svg" altText="Schließen">
            </app-round-btn>
        </div>
    </div>

    <div>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
        Beispiel.</div>

    <div class="input-container name">
        <label for="channel-name">Channel-Name</label>
        <div class="input-wrapper">
            <img class="input-icon" src="assets/icons/tag-grey.svg" alt="Channel Icon">
            <input id="channel-name" class="channel-name" [(ngModel)]="channelName" type="text"
                placeholder="z. B. Kooperationsprojekte"
                [class.error-border]="channelName.trim() && channelNameExists" />
            <span class="error-msg" *ngIf="channelName.trim() && channelNameExists">
                Ein Channel mit diesem Namen existiert bereits.
            </span>
        </div>


    </div>

    <div class="input-container description">
        <label for="channel-description">
            Beschreibung <span class="optional">(optional)</span>
        </label>
        <div>
            <input id="channel-description" class="channel-description" [(ngModel)]="description" type="text"
                placeholder="Dein Text hier" />
        </div>
    </div>

    <div class="btn-container">
        <button (click)="handleAddChannel()" class="add-btn" [disabled]="!channelName.trim() || channelNameExists">
            <div class="f-nunito">Erstellen</div>
        </button>
    </div>

</div>