<app-auth-layout [showOverlay]="showOverlay" [overlayVariant]="overlayVariant">
    <button [routerLink]="['/']" class="arrow-back">
        <img src="/assets/icons/arrow_back.svg">
    </button>
    <div class="login-header">
        <h1>Passwort zurücksetzen</h1>
        <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    </div>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-card-content class="input-group">
            <div class="input-wrapper">
                <div class="input-item">
                    <img src="/assets/icons/login-mail.svg" alt="">
                    <input type="email" placeholder="beispielname@email.com" formControlName="email"
                        autocomplete="email">
                </div>
                @if (email?.invalid && (email?.touched || submitted)) {
                <span class="error">
                    *Diese E-Mail-Adresse ist leider ungültig.
                </span>
                }
            </div>
            <span class="font-20 text">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>

        </mat-card-content>
        <div class="continue">
            <button type="submit" [disabled]="resetForm.invalid">E-Mail senden</button>
        </div>
    </form>
</app-auth-layout>