@use "../../styles/variables" as *;
@use "../../styles/shared-classes";

.arrow-back {
  top: 50px;
  left: 15px;
}

.input-group {
  padding-top: 0 !important;
  span.text {
    text-align: center;
    margin: 0px 65px;
    color: $gray;
  }
}

@media (max-width: 1300px) {
}

@media (max-width: 500px) {
  .input-group {
    span.text {
      margin: 0;
      font-size: 17px;
    }
  }
  .arrow-back {
    top: 15px;
    left: 8px;
  }
}
