.header {
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 10px -10px rgba($color: #000000, $alpha: 0.2);
}

.header-inner-container {
  width: 100%;
  min-height: 96px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left {
  width: fit-content;
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    color: #535af1;
    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

.channel-name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hover-icon-purple {
  display: none;
}

.header-right {
  position: relative;
}

.users-display {
  height: 46px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 3px 10px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  &:hover {
    background-color: #eceefe;
    color: #444df2;
    font-weight: 700;
  }
}

.users-display-active {
  background-color: #eceefe;
  color: #444df2;
  font-weight: 700;
}

.user-pics {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  cursor: pointer;

  .img-box:first-child {
    margin-right: 0;
  }
}

.img-box {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-right: -12px;
  box-sizing: border-box;

  img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
  }
}

.dialogue-backdrop-chats, .dialogue-backdrop-chats-add-user {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start;  
}

.dialogue-backdrop-chats {
  z-index: 4;
}

.dialogue-backdrop-chats-add-user {
  z-index: 9;
}

.overlay-box {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 540px;

  &.overlay-channel-description {
    top: 65px;
    left: 45px;
    right: unset;
  }
}

.dialogue-backdrop-profile {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 7;
}

.add-user-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #eceefe;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: var(--btn-bg-hover, #eceefe);
    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

@media(max-width: 1010px) {
  .hide-responsive {
    display: none;
  }

  .show-responsive {
    display: block;
    display: flex;
  }
}

@media (max-width: 880px) {

  .header-inner-container {
    width: 100vw;
    min-height: 60px;
    padding: 10px 16px;
  }

  .header-left {
    padding: 2px;
  }

  .hover-icon, .hover-icon-purple {
    width: 27px;
  }

  .add-user-btn {
    width: 34px;
    height: 34px;

    img {
      width: 18px;
      height: 18px;
    }
  }  

  .icon-bar {
    gap: 5px;
  }

  .overlay-box {
    &.overlay-channel-description {
      top: 0;
      left: 0;
    }
  }
}

@media(max-width: 380px) {
  .hide-small {
    display: none;
  }
}