.dialogue-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 710px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 8;
}

.dialogue-overlay-header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check-item {
  display: flex;
  align-items: center;
  gap: 25px;

  input {
    display: none;
  }

  .check-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &:hover input:not(:checked) + .check-icon {
    filter: saturate(5);
    transform: scale(1.05);
    cursor: pointer;
  }

  input:checked + .check-icon {
    cursor: default;
    pointer-events: none;
    filter: none;
  }

  input:checked ~ .text {
    cursor: default;
  }

  input:not(:checked) ~ .text {
    cursor: pointer;
  }
}

.name-container {
  position: relative;
  width: 100%;
}

.input-with-chips {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  border: 1px solid #adb0d9;
  border-radius: 30px;
  padding: 8px 20px;
  background: white;
  position: relative;

  &:hover {
    border-color: #797ef3;
  }

  &:focus-within {
    border-color: #535af1;
  }

  input.user-name {
    font-size: 18px;
    padding: 8px 12px;
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
  }

  app-mentions-overlay {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

.input-with-chips.has-user {
  justify-content: flex-start;
}

.chip {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #eceefe;
  border-radius: 20px;
  padding: 3px 20px;
  font-size: 18px;
  color: #2e2e2e;

  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }

  .remove-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    color: #6a6a6a;

    &:hover {
      color: #000;
    }
  }
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.add-btn {
  width: fit-content;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 50px;
  padding: 12px 25px;
  background-color: #444df2;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #797ef3;
  }

  &:disabled {
    background-color: #686868;
    cursor: not-allowed;
  }
}
