<div *ngIf="showIntro" class="intro-container">
  <div class="logo-wrapper">
    <img src="/assets/img/login-logo.svg" alt="Logo" />
    <span class="text">DABubble</span>
  </div>
</div>

<div class="overlay-root" *ngIf="showOverlay">
  <div class="overlay-backdrop"></div>

  <div class="overlay-panel">
    <ng-container [ngSwitch]="overlayVariant">
      <div *ngSwitchCase="'login'">
        <h2>Anmelden</h2>
      </div>
      <div *ngSwitchCase="'created'">
        <h2>Konto erfolgreich erstellt!</h2>
      </div>
      <div *ngSwitchCase="'changed'">
        <h2>Passwort geändert</h2>
      </div>
      <div *ngSwitchCase="'sent'">
        <img src="/assets/icons/mail-sent.svg">
        <h2>E-Mail gesendet</h2>
      </div>
    </ng-container>
  </div>
</div>


<div class="login">
  <img src="/assets/img/login-logo-small.svg" class="logo" (click)="onLogoClick()" />

  <div class="register" *ngIf="showRegister">
    <span>Neu bei DABubble?</span>
    <button [routerLink]="['/signup']">Konto erstellen</button>
  </div>

  <mat-card class="login-card" [ngClass]="variant">
    <ng-content></ng-content>
  </mat-card>

  <div class="legal-links" *ngIf="!hideLegalLinks">
    <a routerLink="/imprint">Impressum</a>
    <a routerLink="/privacy">Datenschutz</a>
  </div>

  <span class="text font-32 font-w-700" *ngIf="variant === 'privacy'">In construction</span>
</div>