<div class="dm-chats" *ngIf="otherUser as u">

    <div class="header">
        <div class="dm-user" (click)="openProfile.emit(u)">
            <div class="img-container">
                <img class="user-img" [src]="'assets/user-icons/' + (u.img || 'default-user') + '.svg'" />
                <div [class]="'online-signal ' + (u.presence || 'offline')"></div>
            </div>
            <span class="font-w-700 font-24">
                {{ u.name }} <span *ngIf="isSelf()">(Du)</span>
            </span>
        </div>
    </div>

    <div class="dm-chat-container">

        <ng-container *ngIf="messages$ | async as messages; else loading">
            <ng-container *ngIf="users$ | async as users">
                <div *ngIf="messages.length === 0; else chatContent" class="empty-conversation">
                    <div class="recipient">
                        <img class="recipient-img" (click)="openProfile.emit(u)"
                            [src]="'assets/user-icons/' + (u.img || 'default-user') + '.svg'" />
                        <span class="font-w-700 font-24" (click)="openProfile.emit(u)">
                            {{ u.name }} <span *ngIf="isSelf()">(Du)</span>
                        </span>
                    </div>

                    <span class="t-gray" *ngIf="!isSelf()">
                        Diese Unterhaltung findet nur zwischen
                        <span class="t-purple at-name">&#64;{{ u.name }}</span>
                        und dir statt.
                    </span>

                    <span class="t-gray" *ngIf="isSelf()">
                        <span class="font-w-700">Dieser Raum ist nur für dich da.</span>
                        Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien griffbereit auf.
                        Du kannst hier auch gerne Dinge mit dir selbst besprechen.
                    </span>
                </div>

                <ng-template #chatContent>
                    <div class="chat-content" id="dm-chat-content">
                        <div class="chat-history">
                            <div *ngFor="let m of messages; let i = index" class="chat-day-section">
                                <div *ngIf="i === 0 || !isSameDate(m.sentAt?.toDate(), messages[i-1]?.sentAt?.toDate())"
                                    class="chat-date-section">
                                    <div class="line"></div>
                                    <div class="chat-date">
                                        {{ getDisplayDate(m.sentAt?.toDate()) }}
                                    </div>
                                    <div class="line"></div>
                                </div>

                                <div class="chat-message-row" [class.me]="m.senderId === currentUser?.uid"
                                    [class.edit-mode]="m.isEditing" #chatMessageRow [attr.data-message-id]="m.id">

                                    <img class="chat-user-img"
                                        [src]="'assets/user-icons/' + (m.senderImg || 'default-user') + '.svg'" />

                                    <ng-container *ngIf="!m.isEditing; else editMode">
                                        <div class="chat-bubble">
                                            <div class="chat-meta">
                                                <span class="sender-name font-w-700 font-18"
                                                    (click)="onUserNameClick(m.senderId)">{{ m.senderName }}
                                                </span>
                                                <span class="time t-gray font-14">
                                                    {{ m.sentAt?.toDate ? (m.sentAt.toDate() | date:'HH:mm') : '' }} Uhr
                                                </span>
                                            </div>

                                            <div class="chat-text font-18" [innerHTML]="renderMessage(m.text)">
                                                <!-- {{ m.text }} -->
                                            </div>



                                            <div class="reactions">
                                                <div class="reaction-btns">
                                                    <div class="reaction-btn"
                                                        *ngFor="let reaction of getVisibleReactions(m, i); trackBy: trackReaction"
                                                        (click)="onReactionClick(m, reaction.type)"
                                                        [class.reacted]="m.reactions[reaction.type]?.includes(currentUser?.uid || '')">
                                                        <img [src]="'assets/reaction-icons/' + reaction.type + '.svg'"
                                                            alt="reaction icon" />
                                                        <span>{{ reaction.count }}</span>

                                                        <div class="r-btn-hover-display">
                                                            <div class="r-btn-hover-display-content">
                                                                <img [src]="'assets/reaction-icons/' + reaction.type + '.svg'"
                                                                    alt="reaction.type" />
                                                                <div class="reaction-btn-t-box">
                                                                    <div class="font-w-700">{{
                                                                        getReactionHoverText(m.reactions[reaction.type])
                                                                        }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div (click)="showAllReactions[i] = true"
                                                        *ngIf="getReactionArray(m).length > 7 && !showAllReactions[i]"
                                                        class="reaction-btn more-reactions">
                                                        {{ getReactionArray(m).length - 7 }} weitere
                                                    </div>
                                                    <div (click)="showAllReactions[i] = false"
                                                        *ngIf="showAllReactions[i]" class="reaction-btn more-reactions">
                                                        Weniger anzeigen
                                                    </div>
                                                </div>

                                                <div class="reaction-display-container">
                                                    <app-round-btn iconSrc="assets/message-icons/add_reaction.svg"
                                                        iconHoverSrc="assets/message-icons/add_reaction-purple.svg"
                                                        (click)="toggleReactionDialog(m.id, 'chat')">
                                                    </app-round-btn>

                                                    <app-reaction-icons-dialog [reactionIcons]="reactionIcons"
                                                        [isOpen]="activeReactionDialog.messageId === m.id && activeReactionDialog.source === 'chat'"
                                                        [position]="m.senderId === currentUser?.uid ? 'right' : 'left'"
                                                        [source]="'chat'" [messageId]="m.id"
                                                        (addReactionEvent)="addReaction($event)"
                                                        (toggleEvent)="toggleReactionDialog(m.id, 'chat')"
                                                        (editMessageEvent)="enableEditMessage(m)">
                                                    </app-reaction-icons-dialog>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-template #editMode>
                                        <div class="chat-edit-wrapper">
                                            <textarea #editTa id="edit-{{m.id}}" class="edit-textarea"
                                                (input)="autoGrow(editTa)" [(ngModel)]="m.editedText"
                                                [placeholder]="m.text"></textarea>

                                            <app-mentions-overlay [text]="m.editedText"
                                                [currentUserId]="currentUser?.uid" [context]="'DM'"
                                                [users]="mentionUsers"
                                                (mentionSelected)="insertMentionInEdit(m, $event)">
                                            </app-mentions-overlay>

                                            <div class="edit-actions">
                                                <button class="btn cancel"
                                                    (click)="cancelEditMessage(m)">Abbrechen</button>
                                                <button class="btn save"
                                                    (click)="saveEditedMessage(m)">Speichern</button>

                                            </div>
                                        </div>
                                    </ng-template>

                                    <app-dm-reactions-dialog class="dm-reactions-dialog-hover" *ngIf="m.id"
                                        [class.reverse]="m.senderId === currentUser?.uid" [messageId]="m.id"
                                        [messageText]="m.text" [isOwnMessage]="m.senderId === currentUser?.uid"
                                        [isOpen]="activeReactionDialog.messageId === m.id && activeReactionDialog.source === 'hover'"
                                        [reactionIcons]="reactionIcons" (addReactionEvent)="addReaction($event)"
                                        (toggleReactionsEvent)="toggleReactionDialog($event, 'hover')"
                                        (startEditEvent)="enableEditMessage(m)"
                                        (saveEditEvent)="updateMessageText($event)">
                                    </app-dm-reactions-dialog>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </ng-container>
        </ng-container>


        <form (ngSubmit)="sendMessage()">
            <div class="form-field-wrapper">
                <div class="form-field full-width" (click)="focusInput($event)">
                    <textarea #messageInput class="input font-18" name="message" type="text" [(ngModel)]="messageText"
                        [placeholder]="'Nachricht an ' + otherUser.name" (keydown.enter)="onEnterPress($any($event))">
                </textarea>

                    <app-smiley-overlay [active]="activeSmiley" [emojis]="allSmileys"
                        (selected)="onSmileySelected($event)" (activeChange)="activeSmiley = $event">
                    </app-smiley-overlay>
                    <app-mentions-overlay [text]="messageText" [currentUserId]="currentUser?.uid" [context]="'DM'"
                        [users]="mentionUsers" (mentionSelected)="insertMention($event)"
                        (overlayStateChange)="overlayActive = $event">
                    </app-mentions-overlay>

                    <div class="input-icon-bar">
                        <div class="icon-bar t-gray">
                            <app-round-btn iconSrc="assets/message-icons/sentiment_satisfied-gray.svg"
                                iconHoverSrc="assets/message-icons/sentiment_satisfied-purple.svg"
                                altText="Reaktion hinzufügen" (click)="openSmileyOverlay()"></app-round-btn>
                            <app-round-btn iconSrc="assets/message-icons/alternate_email-gray.svg"
                                iconHoverSrc="assets/message-icons/alternate_email-purple.svg" altText="Mail hinzufügen"
                                (click)="insertAtCursor('@')"></app-round-btn>
                        </div>

                        <app-round-btn style="--btn-bg-hover: #ffffff;" iconSrc="assets/message-icons/send-purple.svg"
                            iconHoverSrc="assets/message-icons/send-purple2.svg" altText="Senden" type="submit">
                        </app-round-btn>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<ng-template #loading>
    <div class="dm-loading">Lade Unterhaltung…</div>
</ng-template>