.dm-chats {
  width: 100%;
  height: calc(100vh - 145px);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 30px;
}

.header {
  width: 100%;
  min-height: 96px;
  box-sizing: border-box;
  padding: 32px 45px 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #fff;
  position: relative;
  z-index: 7;
  box-shadow: 0 10px 10px -10px rgba($color: #000000, $alpha: 0.2);
}

.user {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 20px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
  }
}

.img-container {
  width: 50px;
  height: 50px;
}

.user-img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.dm-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: calc(100% - 145px);
  gap: 16px;
}

.empty-conversation {
  padding: 0px 45px;
}

.recipient {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  width: fit-content;
  margin-bottom: 20px;

  span {
    cursor: pointer;
    &:hover {
      color: #535af1;
    }
  }
}

.recipient-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.form-field-wrapper {
  padding: 0 45px;
}

.form-field {
  position: relative;
  width: 100%;
  height: 145px;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid #adb0d9;

  &:hover {
    border-color: #797ef3;
  }
  &:focus-within {
    border-color: #535af1;
  }
}

.input {
  width: 100%;
  height: calc(100% - 30px);
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  box-shadow: none;
  overflow-y: auto;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  resize: none;
}

.input-icon-bar {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 14px;
}

.icon-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-30 {
  width: 30px;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-name {
  cursor: pointer;
  &:hover {
    font-weight: 700;
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    border: none;
    background-color: transparent;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.chat-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  @include scrollbar();
  scrollbar-gutter: stable;
  flex: 1;

  .chat-history {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 45px;
    padding-top: 16px;
    margin-top: auto;

    .chat-message-row {
      display: flex;
      gap: 30px;
      align-items: flex-start;
      padding: 12px 45px;
      margin: 0 -45px;
      position: relative;
      z-index: 1;
      transition: background-color 125ms ease-in-out;

      .dm-reactions-dialog-hover {
        display: none;
        position: absolute;
        top: -20px;
        right: 45px;

        &.reverse {
          right: unset;
          left: 45px;
        }
      }

      &.edit-mode {
        background-color: #eceefe;
        .dm-reactions-dialog-hover {
          display: none !important;
        }
      }

      &:hover {
        background-color: #eceefe;

        .chat-bubble {
          .chat-text {
            background-color: white;
          }
        }

        .dm-reactions-dialog-hover {
          display: block;
        }
      }

      &.me {
        flex-direction: row-reverse;

        .chat-bubble {
          .reactions {
            justify-content: flex-end;
          }
          .chat-meta {
            flex-direction: row-reverse;
          }

          .chat-text {
            background-color: #797ef3;
            color: white;
            border-radius: 30px 0px 30px 30px;
            align-self: flex-end;
          }
        }
      }

      .chat-user-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

      .chat-bubble {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .chat-meta {
          display: flex;
          align-items: center;
          gap: 20px;

          .sender-name {
            cursor: pointer;
            &:hover {
              color: #535af1;
            }
          }
        }

        .chat-text {
          width: fit-content;
          background-color: #eceefe;
          padding: 15px;
          border-radius: 0px 30px 30px 30px;
          transition: background-color 125ms ease-in-out;
        }

        .chat-reactions {
          display: flex;
          gap: 0.25rem;
          margin-top: 0.25rem;

          .reaction {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-size: 0.75rem;

            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}

.chat-date-section {
  display: flex;
  align-items: center;
  padding-bottom: 8px;

  .chat-date {
    border: 1px solid #adb0d9;
    border-radius: 30px;
    padding: 5px 15px;
    white-space: nowrap;
  }

  .line {
    height: 1px;
    background-color: #adb0d9;
    flex: 1;
  }
}

.reactions {
  display: flex;
  align-items: center;
  gap: 8px;

  .reaction-display-container {
    position: relative;
  }

  .reaction-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;

    .reaction-btn {
      width: 64px;
      height: 34px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid #adb0d9;
      border-radius: 20px;
      padding: 5px 10px;
      background-color: #ffffff;
      position: relative;
      cursor: pointer;
      &:hover {
        border-color: #797ef3;
        .r-btn-hover-display {
          display: block;
        }
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: none !important;
      }
    }
  }
}

.reaction-btn.reacted {
  border-color: #797ef3 !important;
}

.r-btn-hover-display {
  display: none;

  .r-btn-hover-display-content {
    min-width: 158px;
    width: fit-content;
    height: 112px;
    background-color: #444df2;
    padding: 15px 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 33px;
    left: 32px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 5;

    .reaction-btn-t-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .no-wrap {
      white-space: nowrap;
    }
  }
}

.more-reactions {
  width: fit-content !important;
  font-size: 16px;
}

.chat-edit-wrapper {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #adb0d9;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &:focus-within {
    border-color: #535af1;
  }

  .edit-textarea {
    min-height: 40px;
    max-height: 300px;
    width: 100%;
    min-width: 300px;
    border: none;
    border-radius: 8px;
    padding: 0;
    font-family: "Nunito";
    font-size: 18px;
    color: #686868;
    resize: none;
    overflow: auto;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }

  .edit-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    .btn {
      padding: 12px 25px;
      border-radius: 50px;
      border: 1px solid #797ef3;
      cursor: pointer;
      font-family: "Nunito";
      font-size: 18px;
      font-weight: 700;
      transition: all 0.2s ease;

      &.save {
        background-color: #444df2;
        color: #fff;

        &:hover {
          filter: opacity(80%);
        }
      }

      &.cancel {
        background-color: white;
        color: #444df2;

        &:hover {
          background-color: #444df2;
          color: white;
        }
      }
    }
  }
}
