@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Nunito";
}

.arrow-back {
  position: absolute;
  top: 45px;
  left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 8px;
  transition: background-color 75ms ease-in-out;

  &:hover {
    background-color: $lightblue;

    img {
      filter: none;
    }
  }

  img {
    filter: brightness(0);
    transition: filter 75ms ease-in-out;
  }
}

.login-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;

  h1 {
    font-size: 46px;
    color: $purple1;
  }

  span {
    font-size: 20px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;

  .input-wrapper {
    position: relative;

    .input-item {
      display: flex;
      background-color: $lightblue;
      border-radius: 100px;
      padding: 18px 32px;
      gap: 32px;
      transition: box-shadow 125ms ease-in-out;

      &:hover {
        box-shadow: 0 0 0 1px $gray;
      }

      input {
        font-size: 18px;
        width: 100%;
        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }

      &:has(input:focus) {
        box-shadow: 0 0 0 1px $purple3;

        img {
          filter: brightness(0);
          transition: filter 125ms ease;
        }
      }
    }

    .error {
      position: absolute;
      left: 0;
      bottom: -24px;
      font-size: 14px;
      color: $rose;
    }
  }
}

.continue {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;

  button {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 25px;
    border: 1px solid $purple2;
    font-size: 18px;
    font-weight: 700;
    background-color: $purple1;
    color: white;
    transition: filter 125ms ease-in-out;

    &:hover {
      filter: opacity(80%);
    }

    &:disabled {
      background-color: $gray;
      border-color: $gray;
      pointer-events: none;
    }
  }
}

@media (max-width: 500px) {
  .login-header:not(.imprint) {
    gap: 15px;
    margin-bottom: 0;

    h1 {
      font-size: 32px;
    }
    span {
      font-size: 17px;
    }
  }

  .login-form {
    gap: 20px;
  }

  .input-group {
    gap: 30px;

    .input-item {
      padding: 13px 32px !important;
      gap: 10px !important;
    }
  }
}

@media (max-width: 447px) {
  .input-wrapper .error.pw {
    bottom: -42px !important;
  }
}

@media (max-width: 420px) {
  .input-group {
    .input-item {
      padding: 13px 16px !important;
    }
  }

  .login-header.imprint {
    h1 {
      font-size: 32px;
    }
    span {
      font-size: 17px;
    }
  }

  .input-wrapper .error.pw {
    bottom: -24px !important;
  }
}

@media (max-width: 415px) {
  .input-wrapper .error.pw {
    bottom: -42px !important;
  }
}
