$purple1: #444df2;
$purple2: #797ef3;
$purple3: #525af0;
$lightpurple: #adb0d9;
$lightblue: #eceefe;
$gray: #686868;
$rose: #ed1e79;
$desktop-bp: 1280px;
$laptop-bp: 770px;
$tablet-bp: 480px;
$phone-bp: 420px;
