<div class="dm-reactions-dialog">

    <button (click)="addReaction('check')" class="add-reaction-btn">
        <img src="assets/reaction-icons/check.svg" alt="check" />
    </button>

    <button (click)="addReaction('thumb')" class="add-reaction-btn">
        <img src="assets/reaction-icons/thumb.svg" alt="thumb" />
    </button>

    <div class="reactions-display-container">
        <div class="add-reaction-dialogue" *ngIf="activeReactionDialogueIndex === index">
            <div *ngFor="let icon of reactionIcons" class="reactions-container">
                <button (click)="addReaction(icon)" class="add-reaction-btn">
                    <img [src]="'assets/reaction-icons/' + icon + '.svg'" [alt]="icon" />
                </button>
            </div>
        </div>
        <button (click)="openReactions()" class="add-reaction-btn">
            <img class="hover-icon" src="assets/message-icons/add_reaction.svg" alt="+" />
            <img class="hover-icon-purple" src="assets/message-icons/add_reaction-purple.svg" alt="+" />
        </button>
    </div>

    <div class="edit-message-container" *ngIf="isOwnMessage">
        <button (click)="editMessage()" class="add-reaction-btn">
            <img class="hover-icon" src="assets/message-icons/more_vert.svg" alt="edit" />
            <img class="hover-icon-purple" src="assets/message-icons/more_vert-purple.svg" alt="edit" />
        </button>
    </div>
</div>