.dm-reactions-dialog {
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #adb0d9;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 15px 3px 20px;

  .reactions-display-container {
    position: relative;
  }
}

.add-reaction-btn {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #eceefe;
    .hover-icon {
      display: none;
    }
    .hover-icon-purple {
      display: block;
    }
  }
}

.hover-icon-purple {
  display: none;
}

.edit-message-container {
  position: relative;

  .edit-dialog {
    position: absolute;
    top: 18px;
    left: 27px;
    width: max-content;
    border-radius: 0 30px 30px 30px;
    background-color: white;
    padding: 10px 20px;
    filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.2));

    .btn {
      cursor: pointer;
      border-radius: 100px;
      padding: 10px 20px;
      border: none;
      background-color: white;
      font-size: 20px;
      font-weight: 500;
      font-family: "Nunito";

      &:hover {
        background-color: #eceefe;
        color: #535af1;
      }
    }
  }
}
