<div class="dm-reactions-dialog" [class.me]="isOwnMessage">
    <button (click)="addReaction('check')" class="add-reaction-btn">
        <img src="assets/reaction-icons/check.svg" alt="check" />
    </button>
    <button (click)="addReaction('thumb')" class="add-reaction-btn">
        <img src="assets/reaction-icons/thumb.svg" alt="thumb" />
    </button>


    <div class="reactions-display-container">
        <button (click)="toggleReactions()" class="add-reaction-btn">
            <img class="hover-icon" src="assets/message-icons/add_reaction.svg" alt="+" />
            <img class="hover-icon-purple" src="assets/message-icons/add_reaction-purple.svg" alt="+" />
        </button>

        <app-reaction-icons-dialog [reactionIcons]="reactionIcons" [isOpen]="isOpen" [messageId]="messageId"
            [position]="isOwnMessage ? 'left' : 'right'" [source]="'hover'"
            (addReactionEvent)="addReactionEvent.emit($event)">
        </app-reaction-icons-dialog>
    </div>

    <div class="edit-message-container" *ngIf="isOwnMessage">
        <button (click)="toggleEditDialog()" class="add-reaction-btn">
            <img class="hover-icon" src="assets/message-icons/more_vert.svg" alt="edit" />
            <img class="hover-icon-purple" src="assets/message-icons/more_vert-purple.svg" alt="edit" />
        </button>

        <div class="edit-dialog" *ngIf="editDialogOpen">
            <button type="button" class="btn" (click)="startEditing()">Nachricht bearbeiten</button>
        </div>

    </div>

</div>